<div class="post-list">
    {% for block in blocks %}
        <article class="post">
            <header class="heading">
                <span class="date"><strong>{{ block.createdAt|date('d') }}</strong>
                    {{ block.createdAt|localizeddate('medium', 'none', app.request.locale,null,'MMMM') }}</span>

                <h2><a href="#">{{ block.title }}</a></h2>
            </header>
            <div class="content">
                {% if block.cover %}
                    <div class="image">
                        <img src="{{ block.cover.getWebPath|imagine_filter('cover_thumb') }}" alt="image description">
                    </div>
                {% endif%}
                <div class="holder">
                    <p>
                        {{ block.content|raw }}
                    </p>
                </div>
            </div>
            <div class="more">
                <a href="{{ path('view_content_block',{id:block.id}) }}">{{ 'Read more'|trans }}</a>
            </div>
        </article>
    {% endfor %}
</div>
