   {% for block in blocks %}
    <article class="blog-item" style="background-color: #ffffff;">
        <div class="blog-thumbnail">
            <img src="{{ block.cover.getWebPath|imagine_filter('cover_thumb') }}" alt="">
            <div class="blog-date"><p class="day">{{ block.getCreatedAt|date('d') }}</p><p class="monthyear">{{ block.getCreatedAt|date('M Y') }}</p></div>
        </div>
        <div class="blog-content">
            <h4 class="blog-title"><a href="#">{{ block.title|e }}</a></h4>

            {% if block.tags  %}
                {% import "VswSystemCmsBundle:macro:tags.html.twig" as tags %}
                {{ tags.view(block.explodeTags) }}
            {% endif%}

            <p>{{ block.content|raw }}</p>
            <a class="btn btn-default btn-mini btn-rounded" href="{{ path('view_content_block',{id:block.id}) }}">{{ 'READ MORE'|trans }}</a>
        </div>
    </article>
 {% endfor %}

