{% if not block.content == '' %}
    <article class="blog-item" style="background-color: #ffffff;">
        <div class="blog-thumbnail">
            <img src="{{ block.cover.getWebPath|imagine_filter('cover_thumb') }}" alt="" style="">
        </div>
        <div class="blog-content" style="">
            <h4 class="blog-title"><a href="{{ path('view_content_block',{id:block.id}) }}">{{ block.title|e }}</a></h4>

            {% if block.tags  %}
                {% import "VswSystemCmsBundle:macro:tags.html.twig" as tags %}
                {{ tags.view(block.explodeTags) }}
            {% endif%}

            <p style="">{{ block.shortText|e }}</p>
            <a class="btn btn-default btn-mini btn-rounded"
               href="{{ path('view_content_block',{id:block.id}) }}">{{ 'READ MORE'|trans }}</a>
        </div>
    </article>
{% else %}
    <h2>{{ 'No contetn provided for current language.'|trans }}</h2>
{% endif %}