{% for block in blocks %}
    {% if not block.content == '' %}
        <article class="blog-item">
            <div class="blog-thumbnail">
                <img src="{{ block.cover.getWebPath|imagine_filter('content_block_thumb') }}" alt=""
                     class="img-rounded img-thumbnail" style="">

                <div class="blog-date"><p class="day">{{ block.getCreatedAt|date('d') }}</p>

                    <p class="monthyear">{{ block.getCreatedAt|date('M Y') }}</p></div>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="#">{{ block.title }}</a></h4>

                {% if block.tags  %}
                    {% import "VswSystemCmsBundle:macro:tags.html.twig" as tags %}
                    {{ tags.view(block.explodeTags) }}
                {% endif%}

                <p>{{ block.shortText|e }}</p>
                <a href="{{ path('view_content_block',{id:block.id}) }}"
                   class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>
            </div>
        </article>
    {% else %}
        <h2>{{ 'No contetn provided for current language.'|trans }}</h2>
    {% endif %}
{% endfor %}