{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ block.title }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_content_block_edit',{'id':block.id}) }}"
                           class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
                    {% endif %}
                    {% if not block.content == '' %}
                        <article class="blog-item">
                            <div class="blog-thumbnail">
                                <img src="{{ block.cover.getWebPath|imagine_filter('catalog_item_list') }}" alt="">

                                <div class="blog-date"><p class="day">{{ block.getCreatedAt|date('d') }}</p>

                                    <p class="monthyear">{{ block.getCreatedAt|date('M Y') }}</p></div>
                            </div>
                            <div class="blog-content">
                                <h4 class="blog-title" style="font-size: 22px;">{{ block.title|e }}</h4>

                                {% if block.tags  %}
                                    {% import "VswSystemCmsBundle:macro:tags.html.twig" as tags %}
                                    {{ tags.view(block.explodeTags) }}
                                {% endif%}


                                <p>{{ block.content|raw }}</p>
                            </div>
                        </article>
                    {% else %}
                        <h2>{{ 'No contetn provided for current language.'|trans }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}