{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    {{ 'Edit layout block'|trans }}
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>{{ 'Layout block'|trans }}<small><hr>{{ 'Edit layout block'|trans }}</small></h1>
        <a href="{{path('admin_layout_block')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>
    <form class="form-horizontal" method="POST" {{ form_enctype(blockForm) }}>
        {{ form_widget(blockForm) }}
    </form>
{% endblock %}