{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    Layout blocks
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1> Layout blocks
            <small>
                <hr>
                Layout blocks
            </small>
        </h1>
        <div class="btn-group btn-group-justified">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_layout_block_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Layout block</a>
            {% endif %}
        </div>
    </div>

    <!-- Table -->
    <div class="count">
        Total layout blocks amount: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'name': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'id') }}</th>
            <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'name') }}</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for block in pagination %}
            <tr>
                <td>{{ label(block.id,'info') }}</td>
                <td>{{ block.name|e }}</td>
                <td>{{ block.title|e }}</td>
                <td>{{ block.getContentTypes[block.contentType]|e }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-info"
                           href="{{ path('admin_layout_block_edit',{'id':block.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Edit layout block #{{ block.id|e }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-danger confirm" id="contentBlockRemove"
                           href="{{ path('admin_layout_block_remove',{'id':block.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Remove layout block #{{ block.id|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="row row row-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>

{% endblock %}