{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    Pages manager
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Pages
            <small>
                <hr>
                Text pages manager
            </small>
        </h1>
        <div class="btn-group btn-group-justified">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_text_page_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Text page</a>
            {% endif %}
        </div>
    </div>
    <div class="well">
        <h2>All pages content created using <a target="_blank" href="//daringfireball.net/projects/markdown/syntax">MARKDOWN</a>
        </h2>

        <h3>Markdown <a target="_blank" href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">cheatsheet</a>
        </h3>
    </div>
    <!-- Table -->
    <div class="count">
        Total text pages amount: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'title': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
            <th>Title</th>
            <th>Alias</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for page in pagination %}
            <tr>
                <td>{{ label(page.id,'info') }}</td>
                <td>{{ page.name|e }}</td>
                <td>{{ page.title|e }}</td>
                <td><a href="{{ path('view_page',{'alias':page.alias.alias|e}) }}" target="_blank"><i
                                class="icon icon-arrow-right"></i>/page/{{ page.alias.alias|e }}</a></td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_text_page_edit',{'id':page.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Edit page #{{ page.name|e }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-primary confirm" id="pageRemove"
                           href="{{ path('admin_text_page_remove',{'id':page.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Delete page #{{ page.name|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <button data-placement="top" title="View content for #{{ page.name|e }}"
                                class="btn btn-primary" data-toggle="modal"
                                href="{{ path('admin_text_page_view_content',{'id':page.id|e}) }}"
                                data-target="#contentModal">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>
    <!-- Button trigger modal -->

    <!-- View content modal -->
    <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}