{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}

{% block content %}
    <div class="page-header">
        <h1>Media <small><hr>Media content</small></h1>
        <div class="btn-group btn-group-justified">
            <a href="{{path('admin_menu_create')}}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Upload   </a>

        </div>
    </div>
   
{% endblock %}