{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem create page
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Question <small><hr>Create question page</small></h1>
        <a href="{{path('admin_questions')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>

    </div>
    <div class="well">
        <h2>All pages content created using <a target="_blank" href="//daringfireball.net/projects/markdown/syntax">MARKDOWN</a></h2>
        <h3>Markdown <a target="_blank" href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">cheatsheet</a></h3>
    </div>

    <form class="form-horizontal" method="POST" {{ form_enctype(questionForm) }}>
        {{ form_widget(questionForm) }}
    </form>
{% endblock %}