{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem edit question
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Question <small><hr>Edit question</small></h1>
        <a href="{{path('admin_questions')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>

    </div>


    <form class="form-horizontal" method="POST" {{ form_enctype(questionForm) }}>
        {{ form_widget(questionForm) }}
    </form>
{% endblock %}