{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    Questions manager
{% endblock%}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Questions <small><hr>Questions pages manager</small></h1>
        <div class="btn-group btn-group-justified">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_question_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Question</a>
            {% endif %}
        </div>
    </div>

    <!-- Table -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Answer</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>&nbsp</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ label(question.id,'info') }}</td>
                    <td>{{question.getShortText('question')|striptags|raw}} <i class="glyphicon glyphicon-question-sign"></i></td>
                    <td>{{question.getShortText('answer')|striptags|raw }} <i class="glyphicon glyphicon-ok-sign"></i></td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <a class="btn btn-primary" href="{{path('admin_question_edit',{'id':question.id})}}"
                               data-toggle="tooltip" data-placement="top" title="Edit question #{{question.question|e}}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-primary confirm" id="questionRemove" href="{{path('admin_question_remove',{'id':question.id})}}"
                               data-toggle="tooltip" data-placement="top" title="Delete question #{{question.question|e}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}  
        </tbody>
    </table>

{% endblock %}