{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    Pages manager
{% endblock%}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Widget <small><hr>Fast registration widget</small></h1>
        <div class="btn-group btn-group-justified">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_faq_page_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Faq\Question page</a>
            {% endif %}
        </div>
    </div>


{% endblock %}