{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ 'Messages'|trans }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8">
                </div>
                {{ render(controller('VswSystemCoreBundle:LayoutBlock:asideSertificate')) }}
            </div>
        </div>
    </section>

{% endblock %}
