{% block navbar %}
<!-- BEGIN SIDEBAR LEFT -->
<div class="sidebar-left sidebar-nicescroller">
<ul class="sidebar-menu">
<li><a href="index.html"><i class="fa fa-dashboard icon-sidebar"></i>Dashboard</a></li>
<li>
    <a href="#fakelink">
        <i class="fa fa-desktop icon-sidebar"></i>
        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
        Layout template
        <span class="badge badge-warning span-sidebar">3</span>
    </a>
    <ul class="submenu">
        <li><a href="#fakelink">Default layout<span class="label label-success span-sidebar">CURRENT</span></a></li>
        <li><a href="layout-no-sidebar-right.html">No sidebar right</a></li>
        <li><a href="layout-profile-left.html">Profile summary left</a></li>
    </ul>
</li>
<li>
    <a href="#fakelink">
        <i class="fa fa-folder icon-sidebar"></i>
        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
        Basic elements
        <span class="label label-info span-sidebar">BS3</span>
    </a>
    <ul class="submenu">
        <li><a href="element-typography.html">Typography</a></li>
        <li><a href="element-form.html">Form element</a></li>
        <li><a href="element-form-example.html">Form example</a></li>
        <li><a href="element-wyswyg.html">Form WYSWYG</a></li>
        <li><a href="element-validation.html">Form validation</a></li>
        <li><a href="element-button.html">Button</a></li>
    </ul>
</li>
<li class="static">EXTRA DESIGNS</li>
<li>
    <a href="#fakelink">
        <i class="fa fa-envelope icon-sidebar"></i>
        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
        Mail apps
        <span class="label label-danger span-sidebar">HOT</span>
    </a>
    <ul class="submenu">
        <li><a href="mail-inbox.html">Inbox <span class="badge badge-success span-sidebar">5</span></a></li>
        <li><a href="mail-send.html">Sent mail</a></li>
        <li><a href="mail-new.html">New mail</a></li>
        <li><a href="mail-contact.html">Mail contact</a></li>
        <li><a href="mail-read.html">Read mail</a></li>
        <li><a href="mail-reply.html">Reply mail</a></li>
    </ul>
</li>
<li>
    <a href="#fakelink">
        <i class="fa fa-comment icon-sidebar"></i>
        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
        <span class="label label-success span-sidebar">TOP</span>
        Blog apps
    </a>
    <ul class="submenu">
        <li><a href="blog-list.html">Blog list</a></li>
        <li><a href="blog-column.html">Blog column</a></li>
        <li><a href="blog-masonry.html">Blog masonry</a></li>
        <li><a href="blog-detail.html">Blog detail</a></li>
        <li><a href="blog-home.html">Featured home</a></li>
        <li><a href="blog-new.html">Add new blog</a></li>
        <li><a href="blog-comments.html">Comments</a></li>
    </ul>
</li>

<li class="static">SYSTEM SETTING</li>
<li class="text-content">
    <div class="switch">
        <div class="onoffswitch blank">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="alertme" checked>
            <label class="onoffswitch-label" for="alertme">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    Alert me when system down
</li>
<li class="text-content">
    <div class="switch">
        <div class="onoffswitch blank">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="autoupdate">
            <label class="onoffswitch-label" for="autoupdate">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    Automatic update
</li>
<li class="text-content">
    <div class="switch">
        <div class="onoffswitch blank">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="dailyreport">
            <label class="onoffswitch-label" for="dailyreport">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    Daily task report
</li>
<li class="text-content">
    <div class="switch">
        <div class="onoffswitch blank">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="remembercomputer" checked>
            <label class="onoffswitch-label" for="remembercomputer">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    Remember this computer
</li>
</ul>
</div>
<!-- /.sidebar-left -->
<!-- END SIDEBAR LEFT -->
{% endblock %}