<!-- BEGIN TOP NAV -->
{% block navbar %}
<div class="top-navbar">
<div class="top-navbar-inner">

<!-- Begin Logo brand -->
<div class="logo-brand">
    <a href="#"><img src="http://placehold.it/150x60&text=logo"></a>
</div>
<!-- /.logo-brand -->
<!-- End Logo brand -->

<div class="top-nav-content">

<!-- Begin button sidebar left toggle -->
<div class="btn-collapse-sidebar-left">
    <i class="fa fa-long-arrow-right icon-dinamic"></i>
</div>
<!-- /.btn-collapse-sidebar-left -->
<!-- End button sidebar left toggle -->

<!-- Begin button sidebar right toggle -->
<div class="btn-collapse-sidebar-right">
    <i class="fa fa-bullhorn"></i>
</div>
<!-- /.btn-collapse-sidebar-right -->
<!-- End button sidebar right toggle -->

<!-- Begin button nav toggle -->
<div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
    <i class="fa fa-plus icon-plus"></i>
</div>
<!-- /.btn-collapse-sidebar-right -->
<!-- End button nav toggle -->


<!-- Begin user session nav -->
<ul class="nav-user navbar-right">
    <li class="dropdown">
        <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/assets/img/avatar/avatar-1.jpg" class="avatar img-circle" alt="Avatar">
            Hi, <strong>Paris Hawker</strong>
        </a>
        <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
            <li><a href="#fakelink">Account setting</a></li>
            <li><a href="#fakelink">Payment setting</a></li>
            <li><a href="#fakelink">Change password</a></li>
            <li><a href="#fakelink">My public profile</a></li>
            <li class="divider"></li>
            <li><a href="lock-screen.html">Lock screen</a></li>
            <li><a href="login.html">Log out</a></li>
        </ul>
    </li>
</ul>
<!-- End user session nav -->

<!-- Begin Collapse menu nav -->
<div class="collapse navbar-collapse" id="main-fixed-nav">
<!-- Begin nav search form -->
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
    </div>
</form>
<!-- End nav search form -->
<ul class="nav navbar-nav navbar-left">
<!-- Begin nav notification -->
<li class="dropdown">
    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
        <span class="badge badge-danger icon-count">7</span>
        <i class="fa fa-bell"></i>
    </a>
    <ul class="dropdown-menu square with-triangle">
        <li>
            <div class="nav-dropdown-heading">
                Notifications
            </div>
            <!-- /.nav-dropdown-heading -->
            <div class="nav-dropdown-content scroll-nav-dropdown">
                <ul>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-2.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Thomas White</strong> posted on your profile page
                            <span class="small-caps">17 seconds ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-3.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Doina Slaivici</strong> uploaded photo
                            <span class="small-caps">10 minutes ago</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-4.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Harry Nichols</strong> commented on your post
                            <span class="small-caps">40 minutes ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-5.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Mihaela Cihac</strong> send you a message
                            <span class="small-caps">2 hours ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-6.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Harold Chavez</strong> change his avatar
                            <span class="small-caps">Yesterday</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-7.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Elizabeth Owens</strong> posted on your profile page
                            <span class="small-caps">Yesterday</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-8.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Frank Oliver</strong> commented on your post
                            <span class="small-caps">A week ago</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-9.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Mya Weastell</strong> send you a message
                            <span class="small-caps">April 15, 2014</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-10.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            <strong>Carl Rodriguez</strong> joined your weekend party
                            <span class="small-caps">April 01, 2014</span>
                        </a></li>
                </ul>
            </div>
            <!-- /.nav-dropdown-content scroll-nav-dropdown -->
            <button class="btn btn-primary btn-square btn-block">See all notifications</button>
        </li>
    </ul>
</li>
<!-- End nav notification -->
<!-- Begin nav task -->
<li class="dropdown">
    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
        <span class="badge badge-warning icon-count">3</span>
        <i class="fa fa-tasks"></i>
    </a>
    <ul class="dropdown-menu square margin-list-rounded with-triangle">
        <li>
            <div class="nav-dropdown-heading">
                Tasks
            </div>
            <!-- /.nav-dropdown-heading -->
            <div class="nav-dropdown-content scroll-nav-dropdown">
                <ul>
                    <li class="unread"><a href="#fakelink">
                            <i class="fa fa-check-circle-o absolute-left-content icon-task completed"></i>
                            Creating documentation
                            <span class="small-caps">Completed : Yesterday</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <i class="fa fa-clock-o absolute-left-content icon-task progress"></i>
                            Eating sands
                            <span class="small-caps">Deadline : Tomorrow</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <i class="fa fa-clock-o absolute-left-content icon-task progress"></i>
                            Sending payment
                            <span class="small-caps">Deadline : Next week</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <i class="fa fa-exclamation-circle absolute-left-content icon-task uncompleted"></i>
                            Uploading new version
                            <span class="small-caps">Deadline: 2 seconds ago</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <i class="fa fa-exclamation-circle absolute-left-content icon-task uncompleted"></i>
                            Drinking coffee
                            <span class="small-caps">Deadline : 2 hours ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <i class="fa fa-check-circle-o absolute-left-content icon-task completed"></i>
                            Walking to nowhere
                            <span class="small-caps">Completed : over a year ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <i class="fa fa-check-circle-o absolute-left-content icon-task completed"></i>
                            Sleeping under bridge
                            <span class="small-caps">Completed : Dec 31, 2013</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <i class="fa fa-check-circle-o absolute-left-content icon-task completed"></i>
                            Buying some cigarettes
                            <span class="small-caps">Completed : 2 days ago</span>
                        </a></li>
                </ul>
            </div>
            <!-- /.nav-dropdown-content scroll-nav-dropdown -->
            <button class="btn btn-primary btn-square btn-block">See all notifications</button>
        </li>
    </ul>
</li>
<!-- End nav task -->
<!-- Begin nav message -->
<li class="dropdown">
    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
        <span class="badge badge-success icon-count">9</span>
        <i class="fa fa-envelope"></i>
    </a>
    <ul class="dropdown-menu square margin-list-rounded with-triangle">
        <li>
            <div class="nav-dropdown-heading">
                Messages
            </div>
            <!-- /.nav-dropdown-heading -->
            <div class="nav-dropdown-content scroll-nav-dropdown">
                <ul>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-25.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                            <span class="small-caps">17 seconds ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-24.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                            <span class="small-caps">10 minutes ago</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-23.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            I think so
                            <span class="small-caps">40 minutes ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-22.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            Yes, I'll be waiting
                            <span class="small-caps">2 hours ago</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-21.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            Thank you!
                            <span class="small-caps">Yesterday</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-20.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            No problem! I will never remember that
                            <span class="small-caps">Yesterday</span>
                        </a></li>
                    <li class="unread"><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-19.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            Tak gepuk ndasmu sisan lho dab!
                            <span class="small-caps">A week ago</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-18.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            Sorry bro, aku or atau sing jenenge ngono kui
                            <span class="small-caps">April 15, 2014</span>
                        </a></li>
                    <li><a href="#fakelink">
                            <img src="/assets/img/avatar/avatar-17.jpg" class="absolute-left-content img-circle"
                                 alt="Avatar">
                            Will you send me an invitation for your weeding party?
                            <span class="small-caps">April 01, 2014</span>
                        </a></li>
                </ul>
            </div>
            <!-- /.nav-dropdown-content scroll-nav-dropdown -->
            <button class="btn btn-primary btn-square btn-block">See all message</button>
        </li>
    </ul>
</li>
<!-- End nav message -->
<!-- Begin nav friend requuest -->
<li class="dropdown">
    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
        <span class="badge badge-info icon-count">2</span>
        <i class="fa fa-users"></i>
    </a>
    <ul class="dropdown-menu square margin-list-rounded with-triangle">
        <li>
            <div class="nav-dropdown-heading">
                Friend requests
            </div>
            <!-- /.nav-dropdown-heading -->
            <div class="nav-dropdown-content static-list scroll-nav-dropdown">
                <ul>
                    <li>
                        <img src="/assets/img/avatar/avatar-12.jpg" class="absolute-left-content img-circle"
                             alt="Avatar">

                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Craig Dixon</strong>
                                <span class="small-caps">2 murtual friends</span>
                            </div>
                            <div class="col-xs-6 text-right btn-action">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Ignore</button>
                            </div>
                            <!-- /.col-xs-5 text-right btn-cation -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <li>
                        <img src="/assets/img/avatar/avatar-13.jpg" class="absolute-left-content img-circle"
                             alt="Avatar">

                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Mikayla King</strong>
                                <span class="small-caps">20 murtual friends</span>
                            </div>
                            <div class="col-xs-6 text-right btn-action">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Ignore</button>
                            </div>
                            <!-- /.col-xs-5 text-right btn-cation -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <li>
                        <img src="/assets/img/avatar/avatar-14.jpg" class="absolute-left-content img-circle"
                             alt="Avatar">

                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Richard Dixon</strong>
                                <span class="small-caps">1 murtual friend</span>
                            </div>
                            <div class="col-xs-6 text-right btn-action">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Ignore</button>
                            </div>
                            <!-- /.col-xs-5 text-right btn-cation -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <li>
                        <img src="/assets/img/avatar/avatar-15.jpg" class="absolute-left-content img-circle"
                             alt="Avatar">

                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Brenda Fuller</strong>
                                <span class="small-caps">8 murtual friends</span>
                            </div>
                            <div class="col-xs-6 text-right btn-action">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Ignore</button>
                            </div>
                            <!-- /.col-xs-5 text-right btn-cation -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <li>
                        <img src="/assets/img/avatar/avatar-16.jpg" class="absolute-left-content img-circle"
                             alt="Avatar">

                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Ryan Ortega</strong>
                                <span class="small-caps">122 murtual friends</span>
                            </div>
                            <div class="col-xs-6 text-right btn-action">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Ignore</button>
                            </div>
                            <!-- /.col-xs-5 text-right btn-cation -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <li>
                        <img src="/assets/img/avatar/avatar-17.jpg" class="absolute-left-content img-circle"
                             alt="Avatar">

                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Jessica Gutierrez</strong>
                                <span class="small-caps">45 murtual friends</span>
                            </div>
                            <div class="col-xs-6 text-right btn-action">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Ignore</button>
                            </div>
                            <!-- /.col-xs-5 text-right btn-cation -->
                        </div>
                        <!-- /.row -->
                    </li>
                </ul>
            </div>
            <!-- /.nav-dropdown-content scroll-nav-dropdown -->
            <button class="btn btn-primary btn-square btn-block">See all request</button>
        </li>
    </ul>
</li>
<!-- End nav friend requuest -->
</ul>
</div>
<!-- /.navbar-collapse -->
<!-- End Collapse menu nav -->
</div>
<!-- /.top-nav-content -->
</div>
<!-- /.top-navbar-inner -->
</div>
<!-- /.top-navbar -->
<!-- END TOP NAV -->
{% endblock %}