{# empty Twig template #}
{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Slider <small><hr>Create slider</small></h1>
        <a href="{{path('admin_slider')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>
    <form class="form-horizontal" method="POST" {{ form_enctype(sliderForm) }}>
        {{ form_widget(sliderForm) }}
    </form>
{% endblock %}
