{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}

{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Sliders <small><hr>List of sliders</small></h1>
        <div class="btn-group btn-group-justified">
            <a href="{{path('admin_slider_create')}}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Create slider </a>

        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>&nbsp</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for slider in sliders %}
                <tr>
                    <td>{{ label(slider.id,'info') }}</td>
                    <td>{{ slider.name|e }}</td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <a class="btn btn-primary" href="{{path('admin_slider_edit',{'id':slider.id})}}" 
                               data-toggle="tooltip" data-placement="top" title="Edit slider #{{slider.name|e}}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a  class="btn btn-danger confirm" id="menuRemove" href="{{path('admin_slider_remove',{'id':slider.id})}}"
                                data-toggle="tooltip" data-placement="top" title="Remove slider #{{slider.id|e}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}  
        </tbody>
    </table>
{% endblock %}