{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ 'Search'|trans }}
{% endblock %}
{% block content %}
    <div class="product-list">
        {% for item in items if items is not empty %}
            <article class="post">
                <h2>
                    <span>{{ item.title }}</span>

                </h2>

                <div class="content">
                    <div class="image">
                        {% if item.images[0] is defined %}
                            <img src="{{ item.images[0].getWebPath|imagine_filter('catalog_item_list_250') }}"
                                 alt="image description">
                        {% else %}
                            <img src="http://placehold.it/250x250&text=No+image!">
                        {% endif %}
                    </div>
                    <div class="holder">
                        <div class="price">{{ item.name }} </div>
                        <p>{{ item.description|raw }}</p>
                        <span class="size">({{ item.size }})</span>
                    </div>
                    <a class="button-blue"
                       href="{{ path('item_view',{alias:item.alias.alias}) }}">{{ 'More'|trans }}</a>
                </div>
            </article>
        {% endfor %}
        {% if items is empty %}
            <div class="alert alert-info" role="alert">{{ 'No products found'|trans }}</div>
        {% endif %}
    </div>
{% endblock %}
