<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        {{ app_name }} - {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    {% stylesheets '@VswSystemAdminBundle/Resources/public/css/*'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!-- Header -->
{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { staticTop: true, inverse: true} %}
    {% block brand %}
        <!--  <a class="navbar-brand" href="{{ path('admin') }}">{{ 'VswSystem admin panel'|trans }}</a>  -->
    {% endblock %}
    {% block menu %}
        {{ mopa_bootstrap_menu('admin') }}
        {{ mopa_bootstrap_menu('langMenu') }}
    {% endblock %}
{% endembed %}
<!-- /Header -->

<!-- breadcrumbs -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
{% endblock %}

<!-- Main -->
<div class="container">
    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}
            {% from 'MopaBootstrapBundle::flash.html.twig' import session,session_flash %}
            <div class="row">
                <div class="col-lg-12  text-center">
                    {{ session_flash() }}
                </div>
            </div>
        {% endif %}
    {% endblock flashes %}

    <div class="row"><!--

                <div class="col-md-3">
                    <strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong> 
                    <hr>
                     {% import "VswSystemAdminBundle:macro:leftColumn.html.twig" as left %}
                    {% block leftColumn %}
                        {{ left.settings }}
                        {{ left.resources }}
                    {% endblock %}
                    <hr>
                </div>  -->
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->
{% block chat %} <!--
            <div class="container">
                <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
                    <div class="col-xs-12 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading top-bar">
                                <div class="col-md-8 col-xs-8">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - Miguel</h3>
                                </div>
                                <div class="col-md-4 col-xs-4" style="text-align: right;">
                                    <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                                    <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                                </div>
                            </div>
                            <div class="panel-body msg_container_base">
                                <div class="row msg_container base_sent">
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_receive">
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                    </div>
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_receive">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="row msg_container base_receive">
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                    </div>
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_receive">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                                <div class="row msg_container base_receive">
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                    </div>
                                    <div class="col-xs-10 col-md-10">
                                        <div class="messages msg_receive">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="row msg_container base_sent">
                                    <div class="col-md-10 col-xs-10 ">
                                        <div class="messages msg_sent">
                                            <p>that mongodb thing looks good, huh?
                                                tiny master db, and huge document store</p>
                                            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
                    </ul>
                </div>
            </div>  -->
{% endblock %}
<footer class="text-center">This admin dashboard<br>
    <a href="http://vsw.lt/"><strong>vsw.lt</strong></a></footer>

<div class="modal" id="addWidgetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <p>Add a widget stuff here..</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dalog -->
</div>
<!-- /.modal -->
<noindex hidden>
    <p class="warn">{{ 'Please updated your browser or turn on JavaSctript'|trans }}</p>
</noindex>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{{ elfinder_tinymce_init4('default') }}
{{ tinymce_init() }}
{% javascripts '@VswSystemAdminBundle/Resources/public/js/*'
'bundles/vswsystemadmin/js/modernizr.min.js'
'@MopaBootstrapBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $(document).ready(function () {

        $('.btn[data-collection-add-btn]').on('click', function () {
            setTimeout(function () {
                initTinyMCE();
            }, 500);
        });

        //  $('a').tooltip();
        //$('input[type=file]').bootstrapFileInput();
        $('.datepicker').datepicker({})


        $("select[data-id='content-type']").on('change', function (e) {
            //console.log($(this).value);
        });

        $('input[type=file]').bootstrapFileInput();
        $("#userRemove.confirm").confirm({
            text: "Are you sure you want to delete that user?",
            title: "Confirmation required",
            confirmButton: "Yes I am",
            cancelButton: "No",
            post: true,
            confirmButtonClass: "btn-danger"
        });

        $("#navigationRemove.confirm").confirm({
            text: "Are you sure you want to delete that menu link?",
            title: "Confirmation required",
            confirmButton: "Yes I am",
            cancelButton: "No",
            post: true,
            confirmButtonClass: "btn-danger"
        });

        $("#menuRemove.confirm").confirm({
            text: "Are you sure you want to delete this menu?",
            title: "Confirmation required",
            confirmButton: "Yes I am",
            cancelButton: "No",
            post: true,
            confirmButtonClass: "btn-danger"
        });

        $("#pageRemove.confirm").confirm({
            text: "Are you sure you want to delete this page?",
            title: "Confirmation required",
            confirmButton: "Yes I am",
            cancelButton: "No",
            post: true,
            confirmButtonClass: "btn-danger"
        });

        $("#settingRemove.confirm").confirm({
            text: "Are you sure you want to delete this setting value?",
            title: "Confirmation required",
            confirmButton: "Yes I am",
            cancelButton: "No",
            post: true,
            confirmButtonClass: "btn-danger"
        });


        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
    });

</script>

</body>
</html>