{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    {{ 'Create "Line" widget'|trans }}
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>{{ 'Widgets\\Line'|trans }} <small><hr>{{ 'Create "Line" widget'|trans }}</small></h1>
        <a href="{{path('admin_widget_line')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>
    <form class="form-horizontal" method="POST" {{ form_enctype(widgetForm) }}>
        {{ form_widget(widgetForm) }}
    </form>
{% endblock %}