{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    {{ 'Line of partners widgets'|trans }}
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>{{ 'Partners line'|trans }}
            <small>{{ 'View all partners'|trans }}</small>
        </h1>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('admin_widget_line_create') }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span>{{ 'Create "Line"'|trans }}</a>
        {% endif %}

    </div>
    <!-- Table -->
    <div class="count">
        {{ 'Total partners amount'|trans }}: {{ pagination.getTotalItemCount }}

    </div>
    <div class="the-box no-border">
        <small>{{ 'View all partners'|trans }}</small>
        <div role="toolbar" class="btn-toolbar top-table">
            <div class="btn-group">
                {{ knp_pagination_filter(pagination, {'title': 'Name'}) }}
            </div>
        </div><!-- /.btn-toolbar top-table -->
        <div class="table-responsive">
            <table class="table table-th-block table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                    <th{% if pagination.isSorted('Link') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Link', 'title') }}</th>
                    <th>{{ 'Image'|trans }}</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>&nbsp</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for partner in pagination %}
                    <tr>
                        <td>{{ label(partner.id,'info') }}</td>
                        <td>{{ partner.link|e }}</td>
                        <td><img src="{{ partner.cover.getWebPath|imagine_filter('news_page_left_image') }}" alt=""/></td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>
                                <a class="btn btn-primary" href="{{ path('admin_line_partner_edit',{'id':partner.id}) }}"
                                   data-toggle="tooltip" data-placement="top" title="Edit partner #{{ partner.link|e }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a class="btn btn-warning" href="{{ path('admin_widget_line_edit',{'id':1}) }}"
                                   data-toggle="tooltip" data-placement="top" title="Edit widget">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a class="btn btn-primary confirm" href="{{ path('admin_line_partner_remove',{'id':partner.id}) }}"
                                   data-toggle="tooltip" data-placement="top" id="partnerRemove"
                                   title="Remove partner #{{ partner.link|e }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <div class="row row row-centered">
                    {{ knp_pagination_render(pagination) }}
                </div>
                </tfoot>
            </table>
        </div><!-- /.table-responsive -->
    </div>
{% endblock %}