{% set right = false %}
    {% if(item.name =='mainMenu') %}
        {% set right = true %}
    {% endif %}

<ul class="footer-nav list-unstyled clearfix" style="font-size: 12px;">
    {% for menu, value in item.children %}
        {% set active = false %}
        {% if(value.hasChildren) %}
            {% for subMenu in value.children %}
                {% if(value.uri == app.request.requestUri or  subMenu.uri == app.request.requestUri) %}
                    {% set active = true %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if(value.uri == app.request.requestUri) %}

                {% set active = true %}
            {% endif %}
        {% endif %}
        <li class="{{ value.hasChildren ? 'dropdown': '' }}{{ (active == true )? ' active':'' }}" style="">
            <a {{ value.hasChildren? 'data-toggle="dropdown" class="dropdown-toggle"' :'' }}
                    href="{{ value.hasChildren ? '#': value.uri }}"><i class="fa fa-long-arrow-right"
                                                                       style="float: left;"></i><span
                        style="">{{ menu }}</span></a>
            {% if(value.hasChildren) %}
                <ul class="dropdown-menu">
                    {% for subMenu in value.children %}
                        <li class=""><a href="{{ subMenu.uri }}">{{ subMenu.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {%- endfor -%}
</ul>
