<!-- Collect the nav links, forms, and other content for toggling -->
<div id="" class="collapse navbar-collapse " style="margin-top:10px;background-color: #f4f2f1;">
    {% set right = false %}
    {% if(item.name =='mainMenu') %}
        {% set right = true %}
    {% endif %}
    <ul class="nav navbar-nav {{ right? 'navbar-right': '' }}">
        {% for menu, value in item.children %}
            {% set active = false %}
            {% set subactive = false %}
            {% if(value.hasChildren) %}
                {% for subMenu in value.children %}
                    {% if(value.uri == app.request.requestUri or  subMenu.uri == app.request.requestUri) %}
                        {% set active = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if(value.uri == app.request.requestUri) %}

                    {% set active = true %}
                {% endif %}
            {% endif %}

            <li class="{{ value.hasChildren ? 'dropdown': '' }}{{ (active == true )? ' active':'' }} responsive">
                <a style="height: 50px;line-height: 35px;margin-bottom: 20px;" {{ value.hasChildren? 'data-toggle="dropdown" class="dropdown-toggle"' :'' }}
                        href="{{ value.hasChildren ? '#': value.uri }}">{{ menu }}</a>
                {% if(value.hasChildren) %}
                    <ul class="dropdown-menu" style="background-color: #f4f2f1;"> <!-- border-color: #646464 -->
                        {% for subMenu in value.children %}
                            {% if(subMenu.uri == app.request.requestUri) %}
                                {% set subactive = true %}
                            {% endif %}
                            <li class="{{ (subactive == true )? ' active':'' }}"><a style="background-color: #f4f2f1;" href="{{ subMenu.uri }}">{{ subMenu.name }}</a></li>
                            {% set subactive = false %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {%- endfor -%}
    </ul>
    <div style="background-color: #f4f2f1;" class="collapse navbar-collapse " id="">

        <ul class="nav navbar-nav pull-right">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 200px;" placeholder="{{ 'Search'|trans }}">
                </div>
            </form>
            <ul class="social2 pull-left">

                <li><a class="icon-top" target="_blank" href="//www.facebook.com/kraujodonoryste"><i class="fa fa-facebook"></i></a></li>
                <li><a class="icon-top" href="#."><i class="fa fa-twitter"></i></a></li>
                <li><a class="icon-top" href="#."><i class="fa fa-google-plus"></i></a></li>
                <li><a class="icon-top" href="#."><i class="fa fa-linkedin"></i></a></li>

            </ul>
        </ul>

    </div>
</div>
<!-- /.navbar-collapse -->
