<!-- Collect the nav links, forms, and other content for toggling -->
<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse navbar-right medical-nav">
    <ul class="nav navbar-nav" style="padding-top: 20px;">
        {% for menu, value in item.children %}
            {% set active = false %}
            {% set subactive = false %}
            {% if(value.hasChildren) %}
                {% for subMenu in value.children %}
                    {% if(value.uri == app.request.requestUri or  subMenu.uri == app.request.requestUri) %}
                        {% set active = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if(value.uri == app.request.requestUri) %}

                    {% set active = true %}
                {% endif %}
            {% endif %}
            <li class="{{ value.hasChildren ? 'dropdown': '' }}{{ (active == true )? ' active':'' }}">
                <a style="border-radius: 5px;margin-bottom: 25px;"
                        {{ value.hasChildren? 'data-toggle="dropdown" class="dropdown-toggle"' :'' }}
                   href="{{ value.hasChildren ? '#': value.uri }}">{{ menu }}</a>
                {% if(value.hasChildren) %}
                    <ul class="dropdown-menu" style="width:225px!important;background-color: #f4f2f1;">
                        {% for subMenu in value.children %}
                            {% if(subMenu.uri == app.request.requestUri) %}
                                {% set subactive = true %}
                            {% endif %}
                            <li class="{{ (subactive == true )? ' active':'' }}"
                                style="background-color: #f4f2f1;"><a
                                        style="background-color: #f4f2f1;padding-bottom: 0px;"
                                        href="{{ subMenu.uri }}">{{ subMenu.name }}</a></li>
                            {% set subactive = false %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {%- endfor -%}
    </ul>
</div><!-- /.navbar-collapse -->
