<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ app_name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for menu, value in item.children %}
                    {% set active = false %}
                    {% set subactive = false %}
                    {% if(value.hasChildren) %}
                        {% for subMenu in value.children %}
                            {% if(value.uri == app.request.requestUri or  subMenu.uri == app.request.requestUri) %}
                                {% set active = true %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if(value.uri == app.request.requestUri) %}

                            {% set active = true %}
                        {% endif %}
                    {% endif %}
                    <li class="{{ value.hasChildren ? 'dropdown': '' }}{{ (active == true )? ' active':'' }}">
                        <a {{ value.hasChildren? 'data-toggle="dropdown" class="dropdown-toggle"' :'' }}
                                href="{{ value.hasChildren ? '#': value.uri }}">{{ menu }}</a>
                        {% if(value.hasChildren) %}
                            <ul class="dropdown-menu">
                                {% for subMenu in value.children %}
                                    {% if(subMenu.uri == app.request.requestUri) %}
                                        {% set subactive = true %}
                                    {% endif %}
                                    <li class="{{ (subactive == true )? ' active':'' }}"
                                        href="{{ subMenu.uri }}">{{ subMenu.name }}</a></li>
                                    {% set subactive = false %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {%- endfor -%}
            </ul>
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>