<nav class="nav">
    <ul>
        {% for menu, value in item.children %}
            {% set active = false %}
            {% set subactive = false %}
            {% if(value.hasChildren) %}
                {% for subMenu in value.children %}
                    {% if(value.uri == app.request.requestUri or  subMenu.uri == app.request.requestUri) %}
                        {% set active = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if(value.uri == app.request.requestUri) %}

                    {% set active = true %}
                {% endif %}
            {% endif %}
            <li>
                <a class="{{ (active == true )? ' active':' ' }}"
                   href="{{ value.uri }}">{{ menu }}</a>

            </li>
        {%- endfor -%}
    </ul>
</nav>