<div class="all-menu">
    <form action="{{ path('search') }}" method="POST" class="form-search">
        <fieldset>
            <input class="text-input"
                   name="search"
                   onfocus="this.placeholder = ''" onblur="this.placeholder = '{{ 'Ieskoti'|trans }}' + '...'"
                   type="text" placeholder="{{ 'Ieskoti'|trans }}..."
                   style=" outline: 0;width: 70%;margin-left: 20px    ;">
            <input class="btn-search" type="submit" value="Submit">
        </fieldset>
    </form>
    <nav id="nav">
        
        <ul>
            {% for menu, value in item.children %}
                {% set active = false %}
                {% set subactive = false %}
                {% if(value.hasChildren) %}
                    {% for subMenu in value.children %}
                        {% if(value.uri == app.request.requestUri or  subMenu.uri == app.request.requestUri) %}
                            {% set active = true %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if(value.uri == app.request.requestUri or value.uri in app.request.requestUri) %}

                        {% set active = true %}
                    {% endif %}
                {% endif %}
                
                <li>
                    <a class="{{ (active == true )? ' active':' ' }}"
                       href="{{ value.uri }}">
                        {% if(menu == '') %}
                            {{ 'No translation'|trans }}
                        {% else %}
                            {{ menu|e }}
                        {% endif %}

                    </a>

                </li>
            {%- endfor -%}
        </ul>
    </nav>
</div>
<!--
<nav id="nav">
    <ul id="menu">

        <li>
            <form><input type="text" placeholder="ieskoti..."/><input src="/images/icons/search.png"
                                                                      type="image"/></form>
        </li>
    </ul>
    <div class="mob-menu"></div>
    </ul>
</nav> -->