<!-- Left column -->
{% macro settings() %}
<ul class="list-unstyled">
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
            <h5>Settings <i class="glyphicon glyphicon-chevron-right"></i></h5>
        </a>
        <ul class="list-unstyled collapse" id="userMenu">
            <li><a href="{{path('admin')}}"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
            <li><a href="{{path('admin_settings')}}"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-user"></i> Users</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
            <li><a href="{{path('_user_logout')}}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
        </ul>
    </li>
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">
            <h5>Reports <i class="glyphicon glyphicon-chevron-right"></i></h5>
        </a>

        <ul class="list-unstyled collapse" id="menu2">
            <li><a href="#">Information &amp; Stats</a>
            </li>
            <li><a href="#">Views</a>
            </li>
            <li><a href="#">Requests</a>
            </li>
            <li><a href="#">Timetable</a>
            </li>
            <li><a href="#">Alerts</a>
            </li>
        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
            <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
        </a>

        <ul class="list-unstyled collapse" id="menu3">
            <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
        </ul>
    </li>
</ul>
<hr>
{% endmacro %}

<!-- Resources -->
{% macro resources() %}
<strong><i class="glyphicon glyphicon-link"></i> Resources</strong>
<hr>
<ul class="nav nav-pills nav-stacked">
    <li class="nav-header"></li>
    <li><a href="#"><i class="glyphicon glyphicon-list"></i> Layouts &amp; Templates</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Toolbox</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-link"></i> Widgets</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-book"></i> Pages</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-star"></i> Social Media</a></li>
</ul>
{% endmacro %}


{% macro bottom() %}
<hr>
<ul class="nav nav-stacked">
    <li class="active"><a href="http://bootply.com" title="The Bootstrap Playground" target="ext">Playground</a></li>
    <li><a href="/tagged/bootstrap-3">Bootstrap 3</a></li>
    <li><a href="/61518" title="Bootstrap 3 Panel">Panels</a></li>
    <li><a href="/61521" title="Bootstrap 3 Icons">Glyphicons</a></li>
    <li><a href="/61523" title="Bootstrap 3 ListGroup">List Groups</a></li>
    <li><a href="#">GitHub</a></li>
    <li><a href="/61518" title="Bootstrap 3 Slider">Carousel</a></li>
    <li><a href="/62603">Layout</a></li>
</ul>
{% endmacro %}