{% for question in questions %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" style="font-size: 16px!important;"> <!--  {# loop.first ? 'active' #} -->
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ question.id|e }}">
                <span ><i class="fa fa-plus"></i></span>{{ question.question|e }}
            </a>
        </h4>
    </div>

    <div id="collapse{{ question.id|e }}" class="panel-collapse collapse"> {# {{ loop.first ? 'in' }}#}
        <div class="panel-body">
           {{ question.answer|markdown }}
        </div>
    </div>
</div>
{% endfor %}