<aside class="col-md-{{ wide }}">
    <br/><br/><br/>
    <a href="/page/success-stories"><img src="/images/banner.png"></a>

    <h2 class="bordered light" style="padding-top: 20px;">{{ 'Registration for donation'|trans }}</h2>

    <div class="what-doctor-say clearfix">
        {% if not registred %}
            <form action="{{ path('donor_register_side') }}" id="asideRegisterForm" name="newsletter_form" method="POST"
            class="form-horizontal">
            <fieldset>
                <div class="form-group add_subscribe_name_form_group">
                    <div class="col-lg-12"><input type="text" style="background-color: #fff;border-color: #e9e9e9;width: 80%;margin-bottom: 0px;"
                                                  placeholder="{{ 'Your name'|trans }}" class=" form-control" required="required"
                                                  name="name" id="add_subscribe_name"></div>
                </div>
                <div class="form-group add_subscribe_phone_form_group">
                    <div class="col-lg-12"><input type="text" style="background-color: #fff;border-color: #e9e9e9;width: 80%;"
                                                  placeholder="{{ 'Your phone'|trans }}" class=" form-control"
                                                  pattern="(\+?\d[- .]*){7,13}"
                                                  name="phone" id="add_subscribe_phone"></div>
                </div>
                <div class="form-group add_subscribe_phone_form_group">
                    <div class="col-lg-12"><input type="text" style="background-color: #fff;border-color: #e9e9e9;width: 80%;"
                                                  placeholder="{{ 'City'|trans }}" class=" form-control"
                                                  name="city" id="add_subscribe_city"></div>
                </div>
                <div>
                    <button onclick="validateNewsletter()" style="border-color:#cccccc;background-color: #f4f3f1;color:#6f6667;width: 80%;" class="btn btn btn-rounded"
                            name="add_subscribe[subscribe]" id="add_subscribe_subscribe" type="submit">
                        {{ 'Sign up'|trans }}
                    </button>
                </div>
                <input type="hidden" value="-hRX2rjF71rmMdxl5OpDAYCSOfnHl1TROO8jL1gCWZ4" class=" form-control"
                       name="add_subscribe[_token]" id="add_subscribe__token"></fieldset>

            </form>
            <h5 style="display: none;" id="asideRegister">{{ 'You have successfully signed up for unpaid blood donation. Will contact you asap.'|trans }}</h5>
        {% endif%}
        {% if registred %}
            <h5 id="asideRegister">{{ 'You have successfully signed up for unpaid blood donation. Will contact you asap.'|trans }}</h5>
        {% endif%}
    </div>

    <h2 class="bordered light">{{ 'Sertificates'|trans }}</h2>

    <div class="what-doctor-say clearfix" style="">
        <a href="//www.bureauveritas.lt/wps/wcm/connect/bv_lt/local"><img src="/images/sertificate1.jpg" alt="" style="margin: 0 auto;"/></a>
        <img src="/images/sertificate2.png" alt="" style="padding-top:40px;margin-left: 40px;"/>
    </div>
</aside>