<div id="sidebar">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="facebook">
                <div class="title">{{ 'Find us on Facebook'|trans }}</div>
                <img src="/images/logo01.png" alt="image description">

                <div class="facebook-placeholder">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FPALI%25C5%25AATIS-Guminiai-botai%2F206209819414774&amp;width=250&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=607180716056430"
                            scrolling="no" frameborder="0"
                            style="border:none; overflow:hidden; width:220px; height:290px;"
                            allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-12">
            <div class="banner 2">
                {% if asideImage != null and asideImage.visible %}
                    {% if asideImage.contentType == 3 and asideImage.url  %}
                        <a href="{{ asideImage.url }}">
                            <img src="{{ app.request.getSchemeAndHttpHost() }}/{{ asideImage.cover.getWebPath}}"
                                 alt="image description">
                        </a>
                    {% else %}
                        <img src="{{ app.request.getSchemeAndHttpHost() }}/{{ asideImage.cover.getWebPath}}"
                                 alt="image description">
                    {% endif %}

                {% else %}
                        <!--<img src="/images/Paliutis250x304_pvz.gif" alt="image description"> -->
                {% endif %}

            </div>
        </div>

        <div class="col-sm-6 col-md-12">
            <div class="banner 1">
                {% if asideImage2 != null and asideImage2.visible %}
                    {% if asideImage2.contentType == 3 and asideImage2.url   %}
                        <a href="{{ asideImage2.url }}">
                            <img src="{{ asideImage2.cover.getWebPath }}"
                                 alt="image description">
                        </a>
                    {% else %}
                        <img src="{{ asideImage2.cover.getWebPath}}"
                                 alt="image description">
                    {% endif %}
                {% else %}
                        <!--<img src="/images/Paliutis250x304_pvz.gif" alt="image description"> -->
                {% endif %}

            </div>
        </div>
    </div>
</div>
