{% for image in auditImages.images %}
{% if(image.visible) %}
<a href="{% if(image.link) %} {{image.link}} {%else%}/page/auditai{% endif %}"><img src="/{{ image.getWebPath }}" alt=""/></a>
{% endif %}
{% endfor %}