<div class="promo" style="margin-bottom: 15px;">
    
    <div class="row">
        <div class="col-md-6 col" style="">
            <div class="gallery">
                <div class="mask">
                    <div class="slideset">
                        <div class="slide">
                            <div class="image-parent">
                                <div class="image-holder">


                                    <img src="/{{ slider.images.0.getWebPath }}" alt="image description"  onclick="location.href='{{ path('category_view',{name:'man'}) }}'">
                                    <div class="title"><a href='{{ path('category_view',{name:'man'}) }}'>{{ 'VYRIŠKI BATAI'|trans }}</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="image-parent">
                                <div class="image-holder">
                                    <img src="/{{ slider.images.1.getWebPath }}" alt="image description"  onclick="location.href='{{ path('category_view',{name:'woman'}) }}'">
                                    <div class="title"><a href='{{ path('category_view',{name:'woman'}) }}'>{{ 'MOTERIŠKI BATAI'|trans }}</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="image-parent">
                                <div class="image-holder">
                                    <img src="/{{ slider.images.2.getWebPath }}" alt="image description" onclick="location.href='{{ path('category_view',{name:'kids'}) }}'">
                                    <div class="title"><a href='{{ path('category_view',{name:'kids'}) }}'>{{ 'VAIKIŠKI BATAI'|trans }}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-img">
                <ul>
                    <li class="{% if name == 'man' %} active {% endif %}"><a href="{{ path('category_view',{name:'man'}) }}">
                            <img class="img-visib" src="/images/ico-2.png" alt="image description">
                            <img class="img-hover" src="/images/ico-2h.png" alt="image description">
                        </a></li>
                    <li  class="{% if name == 'woman' %} active {% endif %}"><a href="{{ path('category_view',{name:'woman'}) }}">
                            <img width="98" class="img-visib" src="/images/ico-3.png" alt="image description">
                            <img width="98" class="img-hover" src="/images/ico-3h.png" alt="image description">
                        </a></li>
                    <li  class="{% if name == 'kids' %} active {% endif %}"><a href="{{ path('category_view',{name:'kids'}) }}">
                            <img class="img-visib" src="/images/ico-4.png" alt="image description">
                            <img class="img-hover" src="/images/ico-4h.png" alt="image description">
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col">
            <div class="block">
                <img src="/{{ slider.images.3.getWebPath }}"  width="158px"  alt="image description" onclick="location.href='{{ path('category_view',{name:'safety'}) }}'">
            </div>
            <div class="title"><a href="{{ path('category_view',{name:'safety'}) }}">{{ 'SAUGOS BATAI'|trans }}</a></div>
            <div class="category-img">
                <ul>
                    <li class="{% if name == 'safety' %} active {% endif %}"><a href="{{ path('category_view',{name:'safety'}) }}">
                            <img class="img-visib" src="/images/ico-5.png"
                                 alt="image description">
                            <img class="img-hover" src="/images/ico-5h.png"
                                 alt="image description">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col">
            <div class="block">
                <img src="/{{ slider.images.4.getWebPath }}" width="158px" alt="image description" onclick="location.href='{{ path('category_view',{name:'other-boots'}) }}'">
            </div>
            <div class="title"><a href="{{ path('category_view',{name:'other-boots'}) }}">{{ 'KITI BATAI'|trans }}</a></div>
            <div class="category-img category-img-3">
                <ul>
                    <li class="{% if name == 'other-boots' %} active {% endif %}">
                        <a href="{{ path('category_view',{name:'other-boots'}) }}">
                            <img class="img-visib" src="/images/ico-6.png"
                                 alt="image description">
                            <img class="img-hover" src="/images/ico-6h.png"
                                 alt="image description">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- здесь начался блок, который надо вставить -->
<div class="mobile-nav mobile-category">
    <span class="mob_menu">KATALOGAS</span>
    <a href="#" class="nav-opener"><span>Open Close</span></a>
    <div class="nav-drop">
        <div class="holder">
            <div class="all-menu">
                <nav id="nav">
                    
                    <ul>
                        {% for categorie in categories %}
                            <li><a href="{{ path('category_view',{name:categorie.name}) }}">{{ categorie.title }}</a></li>
                        {% endfor %}


                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- здесь закончился))) -->

<!--
<div class="shoes_all col-1">
    <div class="shoes_type">
        <a class="{% if app.request.get('name') == 'man' %} active {% endif %} man"
           href="{{ path('category_view',{name:'man'}) }}"></a>
        <a class=" wooman"
           href="{{ path('category_view',{name:'woman-shoes'}) }}"></a>
        <a class="{% if app.request.get('name') == 'kids' %} active {% endif %} kids"
           href="{{ path('category_view',{name:'kids'}) }}"></a>
    </div>
    <img src="/images/boots_all.png">

    <div class="shoes_name">VYRISKI</div>
</div>
<div class="vertical_line_top"></div>
<div class="shoes_safety col-1">
    <div class="shoes_type"><a class="{% if app.request.get('name') == 'safety' %} active {% endif %} safety"
                               href="{{ path('category_view',{name:'safety'}) }}"></a></div>
    <img src="/images/boots_safety.png">

    <div class="shoes_name">DARBINIAI</div>
</div>
<div class="vertical_line_top"></div>
<div class="shoes_fisher col-1">
    <div class="shoes_type"><a class="{% if app.request.get('name') == 'fisher' %} active {% endif %} fisher"
                               href="{{ path('category_view',{name:'fisher'}) }}"></a></div>
    <img src="/images/boots_fisher.png">

    <div class="shoes_name">ZVEJO</div>
</div>
 -->