<div id="article-photo-carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner cont-slider">
        {% for partner in widget.partners %}
            <div class="item {% if loop.first %}active{% endif %} text-center">
                {% if partner.link %}
                    <a href="{{ partner.link }}" target="_blank ">
                        <img style=""
                             src="{{ partner.cover.getWebPath|imagine_filter('hall_widget') }}"
                             class="" alt="" title="">
                    </a>
                {% else %}
                    <img src="{{ partner.cover.getWebPath|imagine_filter('hall_widget') }}"
                         class="img-circle img-thumbnail list-inline" alt="" title="">
                {% endif %}
                <!--  <h4>{{ partner.name }}</h4> -->
                                    <p>
                                        {{ partner.about }}
                                    </p>
            </div>
        {% endfor %}
    </div>
    <!-- Indicators -->
    <a class="left carousel-control" href="#article-photo-carousel" role="button"
       data-slide="prev"
       style="color:#1b4d88;background: none;top:-10px;">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    {#
     <ol class="carousel-indicators" style="bottom:-150px!important;">
         {% for partner in widget.partners %}
             <li class="{% if loop.first %}active{% endif %}" data-slide-to="{{ loop.index -1 }}"
                 data-target="#article-photo-carousel">
                 <img alt="" src="{{ partner.cover.getWebPath|imagine_filter('hall_widget') }}">
             </li>
         {% endfor %}
     </ol>
    #}
    <a class="right carousel-control" href="#article-photo-carousel" role="button"
       data-slide="prev"
       style="color:#1b4d88;background: none;top:-10px;">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>