{% extends "VswSystemCmsBundle::layout.html.twig" %}

{% block title %}VswSystem signup{% endblock %}

{% block content %}
    <section class="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="bordered light">{{ 'Sign up'|trans }}</h2>

                    <div class="row">
                        <form class="form-horizontal" method="POST" {{ form_enctype(signupForm) }}>
                            {{ form_widget(signupForm) }}
                            <a class="btn btn-rounded btn-xs" style="position: absolute;left:26%;bottom:-25%;background: linear-gradient(#4c69ba, #3b55a0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #4c69ba;" href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"><i class="fa fa-facebook"></i> {{ 'Login with FB'|trans }}</a>
                        </form>
                    </div>
                </div>
                {{ render(controller('VswSystemCoreBundle:LayoutBlock:asideSertificate')) }}
            </div>
        </div>
    </section>

{% endblock %}
