{% macro poll_forms(pollForm,page) %}
        {% if pollForm %}
            <div class="row" style="padding-top: 40px;margin: 0 auto;" id="vote{{ page.poll.id }}">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title "><!-- active -->
                                <a data-toggle="collapse" class="accordion" data-parent="#accordion"
                                   href="#collapse1">
                                    <span><i class="fa fa-plus"></i></span>{{ page.poll.question|e }}
                                </a>
                            </h4>
                        </div>

                        <div id="collapse1" class="panel-collapse collapse "> <!-- in -->
                            <div class="panel-body">
                                {% form_theme pollForm 'VswSystemCmsBundle:Form:form_row.html.twig' %}
                                {{ form(pollForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 id="votedText{{ page.poll.id }}"
                style="display: none;">{{ 'You have voted!'|trans }}</h4>
        {% endif %}
{% endmacro %}

{% macro poll_stats(percents,page) %}
    <div class="panel-body">
        <style>
            .progress {
                position: relative;
                height: 25px;
            }

            .progress > .progress-type {
                position: absolute;
                left: 0px;
                font-weight: 800;
                padding: 3px 30px 2px 10px;
                color: rgb(255, 255, 255);
                background-color: rgba(25, 25, 25, 0.2);
            }

            .progress > .progress-completed {
                position: absolute;
                right: 0px;
                font-weight: 800;
                padding: 3px 10px 2px;
            }
        </style>
        <div class="row" style="padding-top: 40px;margin: 0 auto;" id="vote{{ page.poll.id }}">
            <div class="panel-group" id="accordion">
                {% for bar in percents %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title "><!-- active -->
                                <a data-toggle="collapse" class="accordion" data-parent="#accordion"
                                   href="#collapse{{ loop.index|e }}">
                                    <span><i class="fa fa-plus"></i></span>{{ page.poll.question|e }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ loop.index|e }}" class="panel-collapse collapse "> <!-- in -->
                            {% set pollId = loop.index -1 %}
                            <div class="col-md-12 well" style="background-color: white;margin-top: 20px;">
                                {% for count in bar %}

                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ count }}"
                                             aria-valuemin="0" aria-valuemax="100" style="width: {{ count }}%;">
                                        <span class="sr-only">{{ count }}
                                            %  {{ page.poll.answers[loop.index-1].answer }}</span>
                                        </div>
                                        <span class="progress-type"> {{ page.poll.answers[loop.index-1].answer }}</span>
                                        <span class="progress-completed">{{ count }}%</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}