{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Widgets\Hall <small><hr>Create hall of fame widget</small></h1>
        <a href="{{path('admin_widget_hall')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>
    <form class="form-horizontal" method="POST" {{ form_enctype(widgetForm) }}>
        {{ form_widget(widgetForm) }}
    </form>
{% endblock %}