{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    VswSystem edit partner
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Hall of fame <small><hr>Edit partner</small></h1>
        <a href="{{path('admin_widget_hall')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>

    </div>
    <div class="the-box">
    <form class="form-horizontal" method="POST" {{ form_enctype(pageForm) }}>
        {{ form_widget(pageForm) }}
    </form>
    </div>
{% endblock %}