{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Partners
            <small>View all partners</small>
        </h1>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('admin_widget_hall_edit',{id:widget.id}) }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Edit "Hall of fame" widget - {{ widget.name }}</a>
        {% endif %}

    </div>
    <!-- Table -->
    <div class="count">
        Total partners amount: {{ pagination.getTotalItemCount }}

    </div>
    <div class="the-box no-border">
        <small>View all partners</small>
        <div role="toolbar" class="btn-toolbar top-table">
            <div class="btn-group">
                {{ knp_pagination_filter(pagination, {'title': 'Name'}) }}
            </div>
        </div><!-- /.btn-toolbar top-table -->
        <div class="table-responsive">
            <table class="table table-th-block table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                    <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'title') }}</th>
                    <th>About</th>
                    <th>Image</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>&nbsp</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for partner in pagination %}
                    <tr>
                        <td>{{ label(partner.id,'info') }}</td>
                        <td>{{ partner.name|e }}</td>
                        <td>{{ partner.about|e }}</td>
                        <td><img src="{{ partner.cover.getWebPath|imagine_filter('news_page_left_image') }}" alt=""/></td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>
                                <a class="btn btn-primary" href="{{ path('admin_partner_edit',{'id':partner.id}) }}"
                                   data-toggle="tooltip" data-placement="top" title="Edit partner #{{ partner.name|e }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a class="btn btn-primary confirm" href="{{ path('admin_partner_remove',{'id':partner.id}) }}"
                                   data-toggle="tooltip" data-placement="top" id="partnerRemove"
                                   title="Remove partner #{{ partner.name|e }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <div class="row row row-centered">
                    {{ knp_pagination_render(pagination) }}
                </div>
                </tfoot>
            </table>
        </div><!-- /.table-responsive -->
        <!--   <ul class="pagination">
            <li class="disabled"><a href="#fakelink">«</a></li>
            <li class="disabled"><a href="#fakelink">‹</a></li>
            <li class="active"><a href="#fakelink">1</a></li>
            <li><a href="#fakelink">2</a></li>
            <li><a href="#fakelink">3</a></li>
            <li><a href="#fakelink">...</a></li>
            <li><a href="#fakelink">15</a></li>
            <li><a href="#fakelink">›</a></li>
            <li><a href="#fakelink">»</a></li>
        </ul> -->
    </div>
{% endblock %}