{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ page.title }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_faq_page_edit',{'id':page.id}) }}"
                           class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
                    {% endif %}
                    <h2>{{ page.title }}</h2>
                    <hr/>
                    <div class="panel-group" id="accordion">
                        {% for question in pagination %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title "><!-- active -->
                                        <a data-toggle="collapse" class="accordion accordion-scroll" data-parent="#accordion"
                                           href="#collapse{{ question.id|e }}">
                                            <span><i class="fa fa-plus"></i></span>{{ question.question }}
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapse{{ question.id|e }}" class="panel-collapse collapse "> <!-- in -->
                                    <div class="panel-body" data-alias="{{ page.alias.alias|e }}">
                                        {{ question.answer|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row row-centered">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        {% if page.poll %}
                            {% import "VswSystemCmsBundle:Poll:viewPoll.html.twig" as poll %}
                            {{ poll.poll_forms(pollForm,page) }}
                            {{ poll.poll_stats(percents,page) }}
                        {% endif %}

                    </div>
                </div>
                {{ render(controller('VswSystemCoreBundle:LayoutBlock:asideSertificate')) }}
            </div>
        </div>
    </section>

{% endblock %}
