{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ page.title }}
{% endblock %}
{% block content %}
    <div class="page">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_gallery_page_edit',{'id':page.id}) }}"
               class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
        {% endif %}
        <h2>{{ page.title }}</h2>
        <hr>
        <div id="" class="col-md-6">

            {% for gallery in page.galleries %}
                {% if not gallery.id % 2 == 0 %}
                    <article>
                        <a href="{{ path('view_gallery',{'alias':gallery.alias.alias}) }}">
                            <img class="img-thumbnail  img-rounded"
                                 src="{{ gallery.cover.getWebPath|imagine_filter('content_block_thumb') }}"
                                 alt=""/>

                            <p style="text-align: center;">{{ gallery.title }}</p>
                        </a>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
        <div id="" class="col-md-6">
            {% for gallery in page.galleries %}
                {% if gallery.id % 2 == 0 %}
                    <article>
                        <a href="{{ path('view_gallery',{'alias':gallery.alias.alias}) }}">
                            <img class="img-thumbnail img-rounded"
                                 src="{{ gallery.cover.getWebPath|imagine_filter('content_block_thumb') }}"
                                 alt=""/>

                            <p style="text-align: center;">{{ gallery.title }}</p>
                        </a>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
