{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ page.title }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-9">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_news_page_edit',{'id':page.id}) }}" class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
                    {% endif%}
                    <h2>{{ page.title }}</h2>
                    <hr/>
                    {% for event in page.events %}

                        {% if(page.questionLayout ==1) %}

                            <article class="blog-item blog-full-width">

                                <div class="blog-thumbnail" style="border-right: 1px solid #e1e1e1;">
                                    {% if event.cover.path %}
                                        <img alt="" src="{{ event.cover.getWebPath|imagine_filter('cover_thumb') }}" alt=""
                                             class="img-rounded img-thumbnail">
                                    {% else %}
                                        <hr style=""/><br/><br/>
                                    {% endif %}
                                </div>
                                <!--   <div class="blog-full-width-date"> -->
                                <!--   <p class="day">{# event.getCreatedAt|date('d') }}</p>-->

                                <!--    <p class="monthyear">{##}event.getCreatedAt|date('M Y') }}</p> -->
                                <!--    <a href="#."><i class="fa fa-comments"></i>15</a>
                            </div>-->
                                <div class="blog-content" style="padding: 0;">
                                    <h3 class="blog-title" style="font-size: 18px;">{{ event.title }}</h3>

                                    <!--  <p class="blog-meta">By: <a href="#">admin</a> | Tags: <a href="#">Graphic</a>, <a
                                                href="#">illustration</a>, <a href="#">Logo</a></p> -->
                                    {{ event.content|raw }}

                                </div>
                            </article>

                        {% endif %}

                        {% if page.questionLayout == 4 %}
                            <article class="comment-wrapper clearfix">

                                <div class="comment-avartar">
                                    <img style=""
                                         src="{{ event.cover.getWebPath|imagine_filter('news_page_left_image') }}"
                                         alt="">
                                </div>

                                <div class="comment-content-wrapper clearfix">
                                    <div class="comment-head">
                                        <span class="comment-title">{{ event.title }} </span>
                                        <!--  <span class="comment-reply">
                                        <a href="#." class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
                                    </span> -->
                                    </div>

                                    <div class="comment-message">
                                        {{ event.content|raw }}
                                    </div>
                                </div>
                            </article>
                        {% endif %}

                        {% if(page.questionLayout == 0) %}

                            <article class="blog-item blog-full-width" style="border-bottom:none;">

                                <div class="blog-full-width-date" style="background-color: #706768;">
                                    <p class="day">{{ event.getCreatedAt|date('d') }}</p>

                                    <p class="monthyear">{{ event.getCreatedAt|date('M Y') }}</p>
                                    <!--    <a href="#."><i class="fa fa-comments"></i>15</a>  -->
                                </div>
                                <div class="blog-content">
                                    <h3 class="blog-title" style="font-size: 18px;">{{ event.title }}</h3>

                                    <!--   <p class="blog-meta">By: <a href="#">admin</a> | Tags: <a href="#">Graphic</a>, <a
                                                href="#">illustration</a>, <a href="#">Logo</a></p> -->

                                    <p>{{ event.content|slice(0,100)|striptags|raw }}</p>
                                    <a href="{{ path('view_event_block',{id:event.id}) }}"
                                       class="btn-rounded btn-bordered pull-right" style="background-color: #F1F1F2;">{{ 'Read more'|trans }}</a>
                                </div>

                            </article>

                        {% endif %}

                    {% endfor %}
                    {% if(page.questionLayout == 5) %}
                        {% if page.paginatable and pagination %}
                            {% import "VswSystemCmsBundle:macro:viewPaginatedEvents.html.twig" as eventsMacros %}
                            {{ eventsMacros.viewEvents(pagination) }}
                        {% else %}
                            {% import "VswSystemCmsBundle:macro:viewEvents.html.twig" as eventsMacros %}
                            {{ eventsMacros.viewEvents(page.events) }}
                            <div class="clearfix"></div>
                        {% endif%}


                    {% endif %}

                    {% if page.shareable %}
                        {% endif %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}
