{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ page.title }}
{% endblock %}
{% block content %}
    <div class="page">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_text_page_edit',{'id':page.id}) }}"
               class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
        {% endif %}
        <h2 class="blue-line"><span>{{ page.title }}</span></h2>
        <hr/>

        {% if(page.imagePosition|default('999') == 0 and page.showImages) %}
            {% for image in page.images %}
                <img class="img-thumbnail" src="{{ image.getWebPath |imagine_filter('page_image') }}"
                     alt="{{ image.name }}"/>
            {% endfor %}
        {% endif %}

        {% for file in page.pdf %}
            <a target="_blank" href="/{{ file.getWebPath }}"><b>{{ file.name }}</b></a><br/>
            <hr/>
        {% endfor %}

        {% if(page.content|default('')) %}
            <div class="contentArea text-content" data-alias="{{ page.alias.alias|e }}">
                {{ page.content|raw }}
            </div>
        {% endif %}
        {% if(page.imagePosition == 3) %}
            {% for image in page.images %}
                <img class="img-thumbnail" src="{{ image.getWebPath |imagine_filter('page_image') }}"
                     alt="{{ image.name }}"/>
            {% endfor %}
        {% endif %}

        {% if page.poll %}
            {% import "VswSystemCmsBundle:Poll:viewPoll.html.twig" as poll %}
            {{ poll.poll_forms(pollForm,page) }}
            {{ poll.poll_stats(percents,page) }}
        {% endif %}


        {% if page.shareable %}
            {{ render(controller('VswSystemCmsBundle:SocialApi:shareButtons',{alias:page.alias.alias,text:page.content|slice(0,100)})) }}
        {% endif %}
    </div>
{% endblock %}
