{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ tag }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8">

                    {% import "VswSystemCmsBundle:macro:tags.html.twig" as tags %}

                    <h2>{{ 'Search by tag'|trans }}: {{ tag }}</h2>
                    <hr/>

                    {% if not textPages %}
                        <div class="well">
                            <h6>{{ 'No pages found'|trans }}</h6>
                        </div>
                    {% else %}
                        <h5>Pages</h5>
                    {% endif %}
                    {% for textPage in textPages %}
                        <article class="blog-item">
                            <div class="blog-content"
                                 style="border-width: 1px; border-style: solid; border-radius: 5px;">
                                <h4 class="blog-title"><a
                                            href="{{ path('view_text_page',{alias:textPage.alias.alias}) }}"
                                            class="">{{ textPage.title|e }}</a></h4>

                                {{ tags.view(textPage.explodeTags) }}
                                <p>{{ textPage.content|striptags|slice(0,100) }}...</p>
                                <a href="{{ path('view_text_page',{alias:textPage.alias.alias}) }}"
                                   class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>
                            </div>
                        </article>
                    {% endfor %}


                    {% if not events %}
                        <div class="well">
                            <h6>{{ 'No events found'|trans }}</h6>
                        </div>
                    {% else %}
                        <h5>Events</h5>
                    {% endif %}
                    {% for event in events %}
                        <article class="blog-item">
                            <div class="blog-content"
                                 style="border-width: 1px; border-style: solid; border-radius: 5px;">
                                <h4 class="blog-title"><a href="{{ path('view_event_block',{id:event.id}) }}"
                                                          class="">{{ event.title|e }}</a></h4>

                                {{ tags.view(event.explodeTags) }}
                                <p>{{ event.content|striptags|slice(0,100) }}...</p>
                                <a href="{{ path('view_event_block',{id:event.id}) }}"
                                   class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>
                            </div>
                        </article>
                    {% endfor %}

                    {% if not blocks %}
                        <div class="well">
                            <h6>{{ 'No content found'|trans }}</h6>
                        </div>
                    {% else %}
                        <h5>Content</h5>
                    {% endif %}
                    {% for block in blocks %}
                        <article class="blog-item">
                            <div class="blog-content"
                                 style="border-width: 1px; border-style: solid; border-radius: 5px;">
                                <h4 class="blog-title"><a href="{{ path('view_content_block',{id:block.id}) }}"
                                                          class="">{{ block.title|e }}</a></h4>

                                {{ tags.view(block.explodeTags) }}
                                <p>{{ block.content|striptags|slice(0,100) }}...</p>
                                <a href="{{ path('view_content_block',{id:block.id}) }}"
                                   class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
