{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    Pages manager
{% endblock%}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Pages <small><hr>Faq\questions pages manager</small></h1>
        <div class="btn-group btn-group-justified">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_faq_page_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Faq\Question page</a>
            {% endif %}
        </div>
    </div>
    <div class="well">
    <h2>All pages content created using <a target="_blank" href="//daringfireball.net/projects/markdown/syntax">MARKDOWN</a></h2>
    <h3>Markdown <a target="_blank" href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">cheatsheet</a></h3>
    </div>
    <!-- Table -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Alias</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>&nbsp</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ label(page.id,'info') }}</td>
                    <td>{{page.name|e }}</td>
                    <td>{{page.title|e }}</td>
                    <td><a href="{{ path('view_page',{'alias':page.alias.alias|e}) }}" target="_blank"><i class="icon icon-arrow-right"></i>/page/{{ page.alias.alias|e }}</a></td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <a class="btn btn-primary" href="{{path('admin_faq_page_edit',{'id':page.id})}}"
                               data-toggle="tooltip" data-placement="top" title="Edit page #{{page.name|e}}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-primary confirm" id="pageRemove" href="{{path('admin_faq_page_remove',{'id':page.id})}}"
                               data-toggle="tooltip" data-placement="top" title="Delete page #{{page.name|e}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}  
        </tbody>
    </table>

{% endblock %}