{% macro footer(id) %}
    <div style="padding-top: 60px;background: url('/images/1bottom.png') top repeat-x;">&nbsp;</div>
    <footer id="footer" class="dark" style="background-color: #d21f27;">

    </footer>
    <p class="copyright text-center" style="background-color: #fff;border-bottom: none;padding-top: 20px;">&copy; VšĮ
        Nacionalinis kraujo centras. Adresas: Žolyno g. 34,
        10210, Vilnius. Sekretoriato tel. (8 5) 239 2444.
        El. paštas <a href="mailto:nkc@kraujodonoryste.lt" style="color: #000000">nkc@kraujodonoryste.lt</a>. Visos
        teisės saugomos.</p>
{% endmacro %}