{% macro main_menu(id) %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle"
                    type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="margin: 10px 0 0;" href="{{ path('homepage') }}" class="navbar-brand"><img title="Medicom Logo"
                                                                                                 alt="image"
                                                                                                 src="/images/logo.jpg"></a>
        </div>
        {{ knp_menu_render('mainMenu', {'template':'VswSystemCmsBundle:Menu:bootstrap_menu.html.twig'}) }}

    </nav>
{% endmacro %}
{% macro top_menu(id) %}

    {% block menu %}
        {{ knp_menu_render('topMenu', {'template':'VswSystemCmsBundle:Menu:bootstrap_menu_top.html.twig'}) }}
    {% endblock %}
{% endmacro %}
{% macro top_info(id) %}
    <div class="top-sec" style="background-color: #f4f2f1;border-bottom:none;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p style="text-transform: none;font-size: 14px;padding-top:15px;margin-left:35px;color: #706768;">{{ 'Phone'|trans }}
                        <span style="color: #e54242;">{{ getOption('companyPhoneNumber') }}</span></p>
                </div>
                <div class="col-md-6">
                    <div style="background-color: #f4f2f1;" class="collapse navbar-collapse " id="">
                        <ul class="nav navbar-nav pull-right" id="loginNav">
                            <li style="width: 30px;">
                                <img src="/images/register.png" alt="" style="padding-top:12px;"/>
                            </li>
                            {% if app.user %}
                                <li class="" style="width: 165px;">
                                    <a href="{{ path('view_my_profile') }}"
                                       style="height: 50px;line-height: 35px;">{{ 'Account'|trans }}</a>
                                </li>
                                <li class="" style="width: 100px;">
                                    <a href="{{ path('user_messages') }}"
                                       style="height: 50px;line-height: 35px;">{{ 'Messages'|trans }}</a>
                                </li>
                            {% else %}
                                <li class="" style="width: 100px;">
                                    <a href="{{ path('_user_signup') }}"
                                       style="height: 50px;line-height: 35px;">{{ 'Sign up'|trans }}</a>
                                </li>
                                <li class="" style="width: 100px;">
                                    <a href="{{ path('_user_login_page') }}"
                                       style="height: 50px;line-height: 35px;">{{ 'Login'|trans }}</a>
                                </li>
                            {% endif %}

                            <li style="width: 100px;"><a style="padding-left: 50px;height: 50px;line-height: 35px;"
                                   href="{{ path('lang_lt') }}">LTU</a></li>
                            <li style="width: 100px;"><a style="height: 50px;line-height: 35px;" href="{{ path('lang_en') }}">ENG</a></li>
                         {#    embed 'VswSystemAdminBundle:WidgetMacro:sidebar.html.twig' %}
                            {% endembed %} #}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endmacro %}
