{% macro top_slider(slider) %}
    <div id="main-banner" class="hidden-xs carousel slide main-banner" data-ride="carousel" style="" >
        <!-- hidden-md hidden-sm -->
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for slide in slider.slides %}
                <li data-target="#main-banner" data-slide-to="{{ loop.index -1 }}"
                    class="{% if loop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner text-center">
            {% for slide in slider.slides %}
                <div class="item {% if loop.first %}active{% endif %}">
                    <img src="{{ slide.getWebPath|imagine_filter('slider_slide') }}" alt="image"
                         style=""/>
                    <div class="slider-caption" style="width: 80%;">
                        <p class="responsive" style="color: #{{ slide.textColor }};">{{ slide.caption }}</p>
                        <p class="responsive"  style="font-size: 20px;color: #{{ slide.textColor }};">{{ slide.text|e }}</p>
                        {% if(not slide.textPageLink == null) %}
                            <div class="caption sfb" data-x="0" data-y="410" data-speed="2500" data-start="2500"
                                 data-easing="easeOutExpo"><a href="/page/{{ slide.textPageLink.alias.alias }}"
                                                              class="btn btn-rounded btn-bordered">{{ 'Read'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
{% endmacro %}