{% macro view(explodeTags) %}
        <p class="blog-meta">{{ 'Tags'|trans }}:
            {% for tag in explodeTags %}
                <a href="{{ path('tag_search',{name:tag|e}) }}"><span class="label label-info">{{ tag|e}}</span></a>
            {% endfor %}
        </p>
{% endmacro %}