{% macro viewEvents(events) %}
    <div id="" class="col-md-5">
        {% for event in events %}
            {% if loop.index % 2 == 0 %}
                <article class="blog-item">
                    <div class="blog-thumbnail" style="border-right: 1px solid #e1e1e1;">
                        {% if event.cover.path %}
                            <img alt="" src="{{ event.cover.getWebPath|imagine_filter('cover_thumb') }}" alt=""
                                 class="img-rounded img-thumbnail">
                        {% else %}
                            <hr style=""/><br/><br/>
                        {% endif %}

                        <div class="blog-date"><p class="day">
                                {% if event.showEventDate %}
                                    {{ event.getEventTime|date('d') }}
                                {% else %}
                                    {{ event.getCreatedAt|date('d') }}
                                {% endif%}
                            </p>

                            <p class="monthyear">
                                {% if event.showEventDate %}
                                    {{ event.getEventTime|date('M Y') }}
                                {% else %}
                                    {{ event.getCreatedAt|date('M Y') }}
                                {% endif%}
                            </p></div>
                    </div>
                    <div class="blog-content">
                        <h4 class="blog-title"><a href="{{ path('view_event_block',{id:event.id}) }}"
                                                  class="">{{ event.title|e }}</a></h4>

                        <!-- <p class="blog-meta">By: <a href="#">admin</a> | Tags: <a href="#">Graphic</a>, <a
                                    href="#">illustration</a>,
                            <a href="#">Logo</a></p>  -->

                        <p>{{ event.content|slice(0,120)|striptags|raw }}</p>
                        <div>{{ render(controller('VswSystemCmsBundle:SocialApi:smallShareButtons',{alias:path('view_event_block',{id:event.id}),text:event.title})) }}</div>

                        <a href="{{ path('view_event_block',{id:event.id}) }}" class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>

                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
    <div id="" class="col-md-7">
        {% for event in events %}
            {% if not loop.index % 2 == 0 %}
                <article class="blog-item">
                    <div class="blog-thumbnail" style="border-right: 1px solid #e1e1e1;">
                        {% if event.cover.path %}
                            <img alt="" src="{{ event.cover.getWebPath|imagine_filter('cover_thumb') }}" alt=""
                                 class="img-rounded img-thumbnail">
                        {% else %}
                            <hr style=""/><br/><br/>
                        {% endif %}

                        <div class="blog-date"><p class="day">
                                {% if event.showEventDate %}
                                    {{ event.getEventTime|date('d') }}
                                {% else %}
                                    {{ event.getCreatedAt|date('d') }}
                                {% endif%}
                            </p>

                            <p class="monthyear">
                                {% if event.showEventDate %}
                                    {{ event.getEventTime|date('M Y') }}
                                {% else %}
                                    {{ event.getCreatedAt|date('M Y') }}
                                {% endif%}
                            </p></div>
                    </div>

                    <div class="blog-content">

                        <h4 class="blog-title"><a href="{{ path('view_event_block',{id:event.id}) }}"
                                                  class="">{{ event.title|e }}</a></h4>

                        <!-- <p class="blog-meta">By: <a href="#">admin</a> | Tags: <a href="#">Graphic</a>, <a
                                    href="#">illustration</a>,
                            <a href="#">Logo</a></p>  -->

                        <p>{{ event.content|slice(0,120)|striptags|raw }}

                        </p>
                        <div>{{ render(controller('VswSystemCmsBundle:SocialApi:smallShareButtons',{alias:path('view_event_block',{id:event.id}),text:event.title})) }}</div>

                        <a href="{{ path('view_event_block',{id:event.id}) }}" class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>

                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}