{% macro viewEvents(pagination) %}
    <div id="" class="col-md-5">
        {% for event in pagination %}
            {% if loop.index % 2 == 0 %}
                <article class="blog-item">
                    <div class="blog-thumbnail">
                        <img alt="" src="/{{ event.cover.getWebPath }}" alt="" class="img-rounded img-thumbnail">

                        <div class="blog-date"><p class="day">{{ event.createdAt|date('d') }}</p>

                            <p class="monthyear">{{ event.createdAt|date('M Y') }}</p></div>
                    </div>
                    <div class="blog-content">
                        <h4 class="blog-title"><a href="{{ path('view_event_block',{id:event.id}) }}"
                                                  class="">{{ event.title|e }}</a></h4>

                        {% if event.tags  %}
                            <p class="blog-meta">{{ 'Tags'|trans }}:
                                {% for tag in event.explodeTags %}
                                    <a href="#"><span class="label label-info">{{ tag|e}}</span></a>
                                {% endfor %}
                            </p>
                        {% endif%}

                        <p>{{ event.getShortText('content')|raw }}</p>
                        {{ render(controller('VswSystemCmsBundle:SocialApi:smallShareButtons',{alias:path('view_event_block',{id:event.id}),text:event.title})) }}

                        <a href="{{ path('view_event_block',{id:event.id}) }}" class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>

                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
    <div id="" class="col-md-7">
        {% for event in pagination %}
            {% if not loop.index % 2 == 0 %}
                <article class="blog-item">
                    <div class="blog-thumbnail">
                        <img alt="" src="/{{ event.cover.getWebPath }}" alt="" class="img-rounded img-thumbnail">

                        <div class="blog-date"><p class="day">{{ event.createdAt|date('d') }}</p>

                            <p class="monthyear">{{ event.createdAt|date('M Y') }}</p></div>
                    </div>
                    <div class="blog-content">
                        <h4 class="blog-title"><a href="{{ path('view_event_block',{id:event.id}) }}"
                                                  class="">{{ event.title|e }}</a></h4>

                        <!-- <p class="blog-meta">By: <a href="#">admin</a> | Tags: <a href="#">Graphic</a>, <a
                                    href="#">illustration</a>,
                            <a href="#">Logo</a></p>  -->


                        <p>{{ event.getShortText('content')|raw }}</p>
                        {{ render(controller('VswSystemCmsBundle:SocialApi:smallShareButtons',{alias:path('view_event_block',{id:event.id}),text:event.title})) }}

                        <a href="{{ path('view_event_block',{id:event.id}) }}" class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>

                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
    <div class="clearfix"></div>
    <div class="row row-centered">
            {{ knp_pagination_render(pagination) }}
    </div>
{% endmacro %}