<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.ico?v=1.1">

    <title>
        {{ app_name }} -
        {% block title %}
        {% endblock %}
    </title>

    {% stylesheets
    'bundles/vswsystemcms/vendor/components-font-awesome/css/font-awesome.css'
    '//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext'
    'bundles/vswsystemcms/css/bootstrap.css'
    'bundles/vswsystemcms/css/all.css'
    'bundles/vswsystemcms/css/jquery.fancybox.css'
    'bundles/vswsystemcms/css/owl.carousel.css'
    'bundles/vswsystemcms/css/owl.theme.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {% javascripts
    'bundles/vswsystemcms/vendor/jquery/dist/jquery.min.js'
    'bundles/vswsystemcms/js/jquery.sharrre.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div id="wrapper">

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <strong id="logo">
                        <a href="{{ path('homepage') }}">
                            <img src="/images/logo_new.png" alt="image description">
                        </a>
                    </strong>
                </div>
                <div class="col-md-8">
                    {% include 'VswSystemCmsBundle:Helpers:topCertifications.html.twig' %}
                    <div class="mobile-nav 1">
                        <span class="mob_menu"></span>
                        <a href="#" class="nav-opener"><span>Open Close</span></a>

                        <div class="nav-drop">
                            <div class="holder">
                                <div class="language">
                                    <ul>
                                        <li><a href="{{ path('lang_lt') }}">LT</a></li>
                                        <li><a href="{{ path('lang_en') }}">EN</a></li>
                                    </ul>
                                </div>
                                {{ knp_menu_render('mainMenu',{template:'VswSystemCmsBundle:Menu:mainMenu.html.twig'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ render(controller('VswSystemCoreBundle:LayoutBlock:topSlide',{name:app.request.get('name')})) }}
        </div>
    </header>


    <main role="main" id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}

                </div>
            </div>
            {% if app.request.get('_route') == 'homepage' %}
                <div class="logo-list">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li><a href="#"><img src="/images/logo02.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo03.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo04.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo05.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo02.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo06.png" alt="image description"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    </main>
    <!-- .container-->



    {% block footer %}
        {% embed "VswSystemCmsBundle:Helpers:footer.html.twig" %}
        {% endembed %}
    {% endblock %}

    <div class="images-header">
        <img src="/images/background.jpg" alt="image description">
    </div>
</div>
</body>

{% javascripts
'bundles/vswsystemcms/js/jquery.main.js'
'bundles/vswsystemcms/vendor/bootstrap/dist/js/bootstrap.min.js'
'bundles/vswsystemcms/js/jquery.fancybox.js'
'bundles/vswsystemcms/js/main.js'
'bundles/vswsystemcms/js/owl.carousel.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</body>
