{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem create page
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Page <small><hr>Event\news content page</small></h1>
        <a href="{{path('admin_news_page')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>

    </div>
    <div class="well">
        <h2>All pages content created using <a target="_blank" href="//daringfireball.net/projects/markdown/syntax">MARKDOWN</a></h2>
        <h3>Markdown <a target="_blank" href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">cheatsheet</a></h3>
    </div>

    <form class="form-horizontal" method="POST" {{ form_enctype(pageForm) }}>
        {{ form_widget(pageForm) }}
    </form>
{% endblock %}