<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.ico?v=1.1">

    <title>
        {{ app_name }} -
        {% block title %}
        {% endblock %}
    </title>

    {% stylesheets
    'bundles/vswsystemcms/vendor/components-font-awesome/css/font-awesome.css'
    '//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext'
    'bundles/vswsystemcms/css/bootstrap.css'
    'bundles/vswsystemcms/css/all.css'
    'bundles/vswsystemcms/css/jquery.fancybox.css'
    'bundles/vswsystemcms/css/jquery.bxslider.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {% javascripts
    'bundles/vswsystemcms/vendor/jquery/dist/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div id="wrapper">

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <strong id="logo">
                        <a href="{{ path('homepage') }}">
                            <img src="/images/logo_new.png" alt="image description">
                        </a>
                    </strong>
                </div>
                <div class="col-md-8">
                    {% include 'VswSystemCmsBundle:Helpers:topCertifications.html.twig' %}
                    <div class="mobile-nav 2">
                        <a href="#" class="nav-opener"><span>Open Close</span></a>

                        <div class="nav-drop">
                            <div class="holder">
                                <div class="language">
                                    <ul>
                                        <li><a href="{{ path('lang_lt') }}">LT</a></li>
                                        <li><a href="{{ path('lang_en') }}">EN</a></li>
                                    </ul>
                                </div>

                                {{ knp_menu_render('mainMenu',{template:'VswSystemCmsBundle:Menu:mainMenu.html.twig'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ render(controller('VswSystemCoreBundle:LayoutBlock:topSlide')) }}
        </div>
    </header>


    <main role="main" id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    {{ render(controller('VswSystemCoreBundle:LayoutBlock:aside')) }}
                </div>
                    
                   
                    
                <div class="col-md-12">
                    <div class="image-list">
                        <div class="row">
                            <div class="col-sm-3 wide">
                                {% if bottomImage1 is defined %}
                                    {% if bottomImage1.contentType == 3 and bottomImage1.url and bottomImage1.visible %}
                                        <a href="{{ bottomImage1.url }}">
                                            <img src="{{ bottomImage1.cover.getWebPath|imagine_filter('banner_bottom') }}"
                                                 alt="image description">
                                        </a>
                                    {% endif %}
                                {% endif %}

                            </div>
                            <div class="col-sm-3 wide">
                                {% if bottomImage2 is defined %}
                                    {% if bottomImage2.contentType == 3 and bottomImage2.url and bottomImage2.visible %}
                                        <a href="{{ bottomImage2.url }}">
                                            <img src="{{ bottomImage2.cover.getWebPath|imagine_filter('banner_bottom') }}"
                                                 alt="image description">
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if app.request.get('_route') == 'homepage' %}
                                    {{ render(controller('VswSystemCoreBundle:LayoutBlock:widget')) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-3 wide">
                                {% if bottomImage3 is defined %}
                                    {% if bottomImage3.contentType == 3 and bottomImage3.url and bottomImage3.visible %}
                                        <a href="{{ bottomImage3.url }}">
                                            <img src="{{ bottomImage3.cover.getWebPath|imagine_filter('banner_bottom') }}"
                                                 alt="image description">
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if app.request.get('_route') == 'homepage' %}
            <div class="logo-list">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% if getOption('displayLine') == 1 %}


                                <ul class="bxslider" style="">

                                    {% for partner in line.partners %}
                                        <li>
                                            {% if partner.link %}
                                                <a href="{{ partner.link }}" target="_blank ">
                                                    <img src="{{ partner.cover.getWebPath|imagine_filter('hall_widget') }}"
                                                         class="img-rounded grayscale" alt="" title="">
                                                </a>
                                            {% else %}
                                                <img src="{{ partner.cover.getWebPath|imagine_filter('hall_widget') }}"
                                                     class="img-rounded grayscale" alt="" title="">
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                         {% for partner in line.partners %}
                                        <li>
                                            {% if partner.link %}
                                                <a href="{{ partner.link }}" target="_blank ">
                                                    <img src="{{ partner.cover.getWebPath|imagine_filter('hall_widget') }}"
                                                         class="img-rounded grayscale" alt="" title="">
                                                </a>
                                            {% else %}
                                                <img src="{{ partner.cover.getWebPath|imagine_filter('hall_widget') }}"
                                                     class="img-rounded grayscale" alt="" title="">
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                </ul>
                                <!--  <ul>
                                    <li><a href="#"><img src="/images/logo02.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo03.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo04.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo05.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo02.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="/images/logo06.png" alt="image description"></a></li>
                                </ul> -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
    <!-- .container-->


    <!-- Modal -->
    <div id="modalSettings" data-time="{{ getOption('modalDelay')|default('1') }}"
         data-delay="{{ getOption('modalDelay')|default('20000') }}"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {% if modal is defined %}
                            {{ modal.title }}
                        {% endif %}
                    </h4>
                </div>
                <div class="modal-body">
                    {% if modal is defined %}
                        {% if modal.contentType == 3 and modal.url %}
                            <a href="{{ modal.url }}">
                                <img src="{{ modal.cover.getWebPath|imagine_filter('modal_image') }}"
                                     alt="image description">
                            </a>
                        {% endif %}
                        {% if modal.contentType == 2 %}
                            <p>
                                {{ modal.text|raw }}
                            </p>

                        {% endif %}
                    {% else %}

                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% embed "VswSystemCmsBundle:Helpers:footer.html.twig" %}
        {% endembed %}
    {% endblock %}

    <div class="images-header">
        <img src="/images/background.jpg" alt="image description">
    </div>
</div>
</body>
<script src="//maps.googleapis.com/maps/api/js"></script>

{% javascripts
'bundles/vswsystemcms/vendor/bootstrap/dist/js/bootstrap.min.js'
'bundles/vswsystemcms/js/jquery.main.js'
'bundles/vswsystemcms/js/jquery.fancybox.js'
'bundles/vswsystemcms/js/main.js'
'bundles/vswsystemcms/js/hinclude.js'
'bundles/vswsystemcms/js/jquery.cookie.js'
'bundles/vswsystemcms/js/jquery.bxslider.min.js'
'bundles/vswsystemcms/js/jquery.sharrre.min.js'
'bundles/vswsystemcms/vendor/masonry/dist/masonry.pkgd.min.js'

%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function () {

        $('.bxslider').bxSlider({
            minSlides: 10,
            maxSlides: 10,
            slideWidth: 170,
            slideMargin: 5,
            ticker: true,
            speed: 30000
        });

        $('#myModal').on('show', function () {
            $(this).find('.modal-body').css({
                width: 'auto', //probably not needed
                height: 'auto', //probably not needed
                'max-height': '100%'
            });
        });

        setTimeout(function () {
            var delay = $('#modalSettings').data('time');
            if ($.cookie('visited') != 1) {
                $('#myModal').modal().show();
                $.cookie('visited', '1', {expires: delay, path: '/'});
            }

        }, $('#modalSettings').data('delay'));


    });
</script>
</body>
</html>