{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem profile page
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Profile <small><hr>Your profile page</small></h1>
    </div>
    
{% endblock %}