{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem - Donors
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Subscribers
            <small>
                <hr>
                Registred subscribers
            </small>
        </h1>
    </div>

    <!-- Table -->
    <div class="count">
        Total donors amount: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'name': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
            <th>{{ 'Email'|trans }}</th>
            <td>{{ 'Messages'|trans}}</td>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for subscriber in pagination %}
            <tr>
                <td>{{ label(subscriber.id,'info') }}</td>
                <td>{{ subscriber.name|e }}</td>
                <td>{{ subscriber.email|e }}</td>
                <td>{{ subscriber.message|e }}</td>
                <td>{{ subscriber.createdAt|date('F j, Y, g:i a') }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-danger confirm" id="contentBlockRemove"
                           href="{{ path('admin_subscriber_remove',{'id':subscriber.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Remove subscriber #{{ subscriber.id|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="row row row-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>

{% endblock %}