{% for event in events %}
    {% if not event.content == '' %}
        <article class="blog-item">
            <div class="blog-thumbnail">
                <img alt="" src="{{ event.cover.getWebPath|imagine_filter('content_block_thumb') }}" alt=""
                     class="img-rounded img-thumbnail">

                <div class="blog-date"><p class="day">{{ event.createdAt|date('d') }}</p>

                    <p class="monthyear">{{ event.createdAt|date('M Y') }}</p></div>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{{ path('view_event_block',{id:event.id}) }}"
                                          class="">{{ event.title|e }}</a></h4>

                {% if event.tags  %}
                    <p class="blog-meta">{{ 'Tags'|trans }}:
                        {% for tag in event.explodeTags %}
                            <a href="#"><span class="label label-info">{{ tag|e}}</span></a>
                        {% endfor %}
                    </p>
                {% endif%}

                <p>{{ event.getShortText('content')|raw }}</p>
                <a href="{{ path('view_event_block',{id:event.id}) }}"
                   class="btn btn-default btn-mini btn-rounded">{{ 'READ MORE'|trans }}</a>
            </div>
        </article>
    {% else %}
        <h2>{{ 'No contetn provided for current language.'|trans }}</h2>
    {% endif %}
{% endfor %}
