<div class="post-list">
    {% for block in events %}
        <article class="post">
            <header class="heading">
                <span class="date">
                    {% if(block.showEventDate != 1) %}
                        <strong>{{ block.createdAt|date('d') }}</strong>
                        {{ block.createdAt|localizeddate('medium', 'none', app.request.locale,null,'MMMM') }}

                    {% else %}
                        <strong>{{ block.eventTime|date('d') }}</strong>
                        {{ block.eventTime|localizeddate('medium', 'none', app.request.locale,null,'MMMM') }}
                    {% endif %}
                </span>

                <h2><a href="{{ path('view_event_block',{id:block.id}) }}">{{ block.title|slice(0,55) }}...</a></h2>
            </header>
            <div class="content">
                {% if block.cover %}
                    <div class="image">
                        <img src="{{ block.cover.getWebPath|imagine_filter('news_page_left_image') }}" alt="image description">
                    </div>
                {% endif%}
                <div class="holder">
                    <p>
                        {{ block.content|raw }}
                    </p>
                </div>
            </div>
            <div class="more">
                <a href="{{ path('view_event_block',{id:block.id}) }}">{{ 'Read more'|trans }}</a>
            </div>
        </article>
    {% endfor %}
</div>
