{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ block.title }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_event_block_edit',{'id':block.id}) }}"
                           class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
                    {% endif %}

                    <article class="panel panel-default">

                        <div class="panel-heading">
                            <img src="{{ block.cover.getWebPath|imagine_filter('news_page_top_image') }}" alt=""
                                 title="">

                        </div>
                        <!--   <div class="blog-full-width-date"> -->
                        <!--   <p class="day">{# event.getCreatedAt|date('d') }}</p>-->

                                <!--    <p class="monthyear">{##}event.getCreatedAt|date('M Y') }}</p> -->
                        <!--    <a href="#."><i class="fa fa-comments"></i>15</a>
                    </div>-->
                        <div class="panel-body">

                            <h3 class="blog-title">{{ block.title }}</h3>

                            <!--  <p class="blog-meta">By: <a href="#">admin</a> | Tags: <a href="#">Graphic</a>, <a
                                        href="#">illustration</a>, <a href="#">Logo</a></p> -->
                            {{ block.content|raw }}
                        </div>

                    </article>
                    {{ render(controller('VswSystemCmsBundle:SocialApi:smallShareButtons',{alias:path('view_event_block',{id:block.id}),text:block.title})) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}