
{% extends "VswSystemCatalogBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ item.title }}
{% endblock %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('catalog_item_edit',{'id':item.id}) }}"
           class="btn btn-info">{{ 'Edit'|trans }}</a>
    {% endif %}
    <div class="product-list product">
        <article class="post">
            <h2>
                <span>{{ item.title }}</span>
                <em class="icon">
                    <img src="{{ icon_path|imagine_filter('catalog_icon') }}" alt="image description">
                </em>
            </h2>

            <div class="content">
                <div class="image">
                    {% if item.images[0] is defined %}
                        <a href="/{{ item.images[0].getWebPath }}" class="fancyboxLauncher" rel="gallery1"><img src="{{ item.images[0].getWebPath|imagine_filter('catalog_item_list') }}"
                             alt="image description"></a>

                    {% else %}
                        <img src="http://placehold.it/450x450&text=No+image!">
                    {% endif %}

                </div>
                <div class="holder">
                    <div class=""><h3>{{ item.name }}</h3></div>
                    <div class="text">
                        {{ item.content|raw }}
                    </div>
                    <br/>
                    {% if item.size is not empty %}
                        <p class="size">{{ 'Dydžiai EU'|trans }} - ({{ item.size }})</p>
                    {% endif %}
                    {% if item.size is not empty %}
                        <p class="size">{{ 'Dydžiai GB'|trans }} - ({{ item.sizeGb|default('none') }})</p>
                    {% endif %}

                    <div class="">
                        {% for attr in item.getAttributesInnerIcons %}
                            <img src="/images/icons/{{ attr.img }}" alt="image description"
                                 data-toggle="tooltip" title="{{ attr.title }}">
                        {% endfor %}

                    </div>
                    <br/>

                    <div class="">
                        {% for attr in item.getAttributesIcons %}
                            <img src="/images/icons/{{ attr.img }}" alt="image description"
                                 data-toggle="tooltip" title="{{ attr.title }}">
                        {% endfor %}

                    </div>
                    <br/>
                    {{ render(controller('VswSystemCmsBundle:SocialApi:shareButtons',{alias:item.title,text:item.title})) }}

                    <!-- <div class="image2">
                        <ul style="text-align: center;">

                            <li> item.upper }}</li>
                            <li><img src="/images/icons/ item.lining }}" alt=""/></li>
                            <li><img src="/images/icons/ item.outsole }}" alt=""/></li>
                            <li><span>30-30</span></li>
                            <li><span>25-35</span></li>
                        </ul>
                    </div>  -->
                </div>
            </div>
        </article>
    </div>
    {% if item.images|length > 0 %}
        <div class="slideset" id="owl-example">
            {% for image in item.images %}
                <div class="slide">
                    <a href="/{{ image.getWebPath }}" class="fancybox" rel="gallery1">
                        <img src="{{ image.getWebPath|imagine_filter('catalog_item_slide') }}"
                             alt="image description">
                    </a>

                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {

            $("#owl-example").owlCarousel();

        });
    </script>

{% endblock %}
