{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Navigation <small><hr>Edit navigation #{{navigation.id}}:{{navigation.title}}:{{navigation.route}}</small></h1>
        <a href="{{path('admin_navigation')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>
    {{form(navigationForm)}}

</div>
{% endblock %}