{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Navigation
            <small>View all navigation links</small>
        </h1>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('admin_menu_create') }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Create menu</a>
        {% endif %}
        <a href="{{ path('admin_navigation_create') }}" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Create navigation</a>
    </div>
    <!-- Table -->
    <div class="count">
        Total links amount: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'title': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'title') }}</th>
            <th>Route</th>
            <th>Type</th>
            <th>Postiton</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for menu in pagination %}
            <tr>
                <td>{{ label(menu.id,'info') }}</td>
                <td>
                    {% if(menu.title == '') %}
                        {{ 'No translation'|trans }}
                    {% else %}
                        {{ menu.title|e }}
                    {% endif%}

                </td>
                <td><a href="{{ menu.route|e }}">{{ menu.route|e }}</a></td>
                <td>{{ menu.type|e }}</td>
                <td>{{ menu.position|e }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_navigation_edit',{'id':menu.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Edit menu #{{ menu.title|e }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-primary confirm" href="{{ path('admin_navigation_remove',{'id':menu.id}) }}"
                           data-toggle="tooltip" data-placement="top" id="navigationRemove"
                           title="Remove menu #{{ menu.title|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="row row row-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>


{% endblock %}