{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
   {{ 'Edit category'|trans }}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ 'Item'|trans }} <small><hr>{{ 'Edit category'|trans }}</small></h1>
        <a href="{{path('admin_category')}}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'Go back'|trans }}</a>

    </div>
    <form class="form-horizontal" method="POST" {{ form_enctype(categoryFrom) }}>
        {{ form_widget(categoryFrom) }}
    </form>
{% endblock %}