{% extends "VswSystemCatalogBundle::layout.html.twig" %}
{% block title %}
    {{ 'Catalog'|trans }}
{% endblock %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_category') }}"
           class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
    {% endif %}
    <div class="product-list">
        {% for item in items if items is not empty %}
            <article class="post">
                <h2>
                    <span>{{ item.title }}</span>
                    {% if item.icon %}
                        <em class="icon"><img src="{{ item.icon.getWebPath|imagine_filter('catalog_icon') }}"
                                              alt="image description"></em>
                    {% else %}
                        <em class="icon">1</em>
                    {% endif %}
                </h2>

                <div class="content">
                    <div class="image">
                        <img src="{{ item.cover.getWebPath|imagine_filter('catalog_item_list_250') }}"
                             alt="image description">
                    </div>
                    <div class="holder">
                        <div class="price">{{ item.title }} </div>
                        <p>{{ item.description|raw }}</p>
                        <!-- <span class="size">(27-39)</span> -->
                    </div>
                    <a class="button-blue" href="{{ path('category_view',{name:item.name}) }}">{{ 'More'|trans }}</a>
                </div>
            </article>
        {% endfor %}
        {% if items is empty %}
            <div class="alert alert-info" role="alert">{{ 'Np products found'|trans }}</div>
        {% endif %}
    </div>
{% endblock %}
