{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock %}

{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Content
            <small>
                <hr>
                Content block
            </small>
        </h1>
        <div class="btn-group btn-group-justified">
            <a href="{{ path('admin_content_block_create') }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Create content block </a>

        </div>
    </div>

    <!-- Table -->
    <div class="count">
        Total content blocks amount: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'title': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'title') }}</th>
            <th>About</th>
            <th>Image</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for block in pagination %}
            <tr>
                <td>{{ label(block.id,'info') }}</td>
                <td>{{ block.title|e }}</td>
                <td>{{ block.shortText|e }}</td>
                <td><img src="{{ block.cover.getWebPath|imagine_filter('news_page_left_image') }}" alt=""/></td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-info" href="{{ path('admin_content_block_edit',{'id':block.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger confirm" id="contentBlockRemove"
                           href="{{ path('admin_content_block_remove',{'id':block.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Remove content block #{{ block.id|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="row row row-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>

{% endblock %}