{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Content
            <small>
                <hr>
                Gallery group
            </small>
        </h1>
        <div class="btn-group btn-group-justified">
            <a href="{{ path('admin_gallery_group_create') }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Create gallery image group </a>

        </div>
    </div>

    <!-- Table -->
    <div class="count">
        Total content blocks amount: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'title': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'title') }}</th>
            <th>Title</th>
            <th>Alias</th>
            <th>Cover</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for group in pagination %}
            <tr>
                <td>{{ label(group.id,'info') }}</td>
                <td>{{ group.name|e }}</td>
                <td>{{ group.title|e }}</td>
                <td><a href="{{ path('view_gallery',{'alias':group.alias.alias|e}) }}" target="_blank"><i class="icon icon-arrow-right"></i>/gallery/{{ group.alias.alias|e }}</a></td>
                <td><img src="{{ group.cover.getWebPath|imagine_filter('news_page_left_image') }}" alt=""/></td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-info" href="{{ path('admin_gallery_group_edit',{'id':group.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Edit gallery group block #{{ group.name|e }}">
                            <span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger confirm" id="contentBlockRemove"
                           href="{{ path('admin_gallery_group_remove',{'id':group.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Remove gallery group block #{{ group.id|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="row row row-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>

{% endblock %}