
{% block field_row %}
    {% spaceless %}
        {% set field_row_classes = ['control-group'] %}
        {% if errors|length > 0 %}
            {% set field_row_classes = field_row_classes|merge(['error']) %}
        {% endif %}

        <div class="{{ field_row_classes|join(' ') }}">
            {{ form_label(form, label|default(null)) }}
            <div class="controls">
                {{ form_widget(form, { 'attr' : attr|default({}) }) }}
                {{ form_errors(form) }}
                {% if help is defined %}
                    <p class="help-block">{{ help }}</p>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock field_row %}