{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    {{ 'Edit item'|trans }}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ 'Item'|trans }} <small><hr>{{ 'Edit item'|trans }}</small></h1>
        <a href="{{path('admin_catalog_items')}}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'Go back'|trans }}</a>

    </div>

    <form class="form-horizontal" method="POST" {{ form_enctype(itemForm) }}>
        {{ form_widget(itemForm) }}
    </form>
{% endblock %}