{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    Items manager
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Items
            <small>
                <hr>
                Items manager
            </small>
        </h1>
        <div class="btn-group btn-group-justified">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('catalog_item_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span>{{ 'Catalog item'|trans }}</a>
            {% endif %}
        </div>
    </div>
    <!-- Table -->
    <div class="count">
        {{ 'Total items amount'|trans }}: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'title': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
            <th>Title</th>
            <th>Alias</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for page in pagination %}
            <tr>
                <td>{{ label(page.id,'info') }}</td>
                <td>{{ page.name|e }}</td>
                <td>{{ page.title|e }}</td>
                <td><a href="{{ path('item_view',{'alias':page.alias.alias|e}) }}" target="_blank"><i
                                class="icon icon-arrow-right"></i>/catalog/item/{{ page.alias.alias|e }}</a></td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('catalog_item_edit',{'id':page.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Edit page #{{ page.name|e }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-primary confirm" id="pageRemove"
                           href="{{ path('catalog_item_remove',{'id':page.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Delete page #{{ page.name|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>
    <!-- Button trigger modal -->

{% endblock %}