{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ 'Widget'|trans }}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ 'Polls'|trans }}
            <small>
                <hr>{{ 'Create poll'|trans }}</small>
        </h1>
        <a href="{{ path('admin_widget_poll') }}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span>{{ 'Go back'|trans }}</a>
    </div>
    {% form_theme widgetForm 'VswSystemWidgetBundle:Form:form_row.html.twig' %}
    <div class="the-box">
        {{ form(widgetForm) }}
    </div>
{% endblock %}