{% extends "VswSystemWidgetBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ 'Widget'|trans }}
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>{{ 'Polls'|trans }}
            <small>{{ 'View all polls'|trans }}</small>
        </h1>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('admin_widget_poll_create') }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span>{{ 'Create poll' }}</a>
        {% endif %}

    </div>
    <!-- Table -->
    <div class="count">
        {{ 'Total amount'|trans }}: {{ pagination.getTotalItemCount }}
    </div>
    <div class="the-box no-border">
        <div role="toolbar" class="btn-toolbar top-table">
            <div class="btn-group">
                {{ knp_pagination_filter(pagination, {'title': 'Name'}) }}
            </div>
        </div><!-- /.btn-toolbar top-table -->
        <div class="table-responsive">
            <table class="table table-th-block table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                    <th{% if pagination.isSorted('Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'title') }}</th>
                    <th>Question</th>
                    <th>Answers</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>&nbsp</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for poll in pagination %}
                    <tr>
                        <td>{{ label(poll.id,'info') }}</td>
                        <td>{{ poll.name|e }}</td>
                        <td>{{ poll.question|e }}</td>
                        <td>
                            <ul>
                                {% for answer in poll.answers %}
                                    <li>{{ answer.answer|e }}</li>
                                {% endfor %}
                            </ul>

                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>
                                <a class="btn btn-primary" href="{{ path('admin_widget_poll_edit',{'id':poll.id}) }}"
                                   data-toggle="tooltip" data-placement="top" title="Edit menu #{{ poll.name|e }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a class="btn btn-primary confirm" href="{{ path('admin_widget_poll_remove',{'id':poll.id}) }}"
                                   data-toggle="tooltip" data-placement="top" id="pollRemove"
                                   title="Remove poll #{{ poll.name|e }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <div class="row row row-centered">
                    {{ knp_pagination_render(pagination) }}
                </div>
                </tfoot>
            </table>
        </div><!-- /.table-responsive -->
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}