{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Menu <small><hr>Create menu</small></h1>
        <a href="{{path('admin_menu')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>
      <form class="form-horizontal" method="POST">
        {{ form_widget(menuForm) }}
      </form>
{% endblock %}