{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Navigation
            <small>View all menus</small>
        </h1>
        <div class="btn-group btn-group-justified">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_menu_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Create menu</a>
                <a href="{{ path('admin_navigation_create') }}" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Create navigation</a>
            {% endif %}
        </div>
    </div>
    <!-- Table -->
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Position</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>

        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ label(menu.id,'info') }}</td>
                <td>{{ menu.name|e }}</td>
                <td>{{ menu.getTypeName|e }}</td>
                <td>{{ menu.getPositionName|e }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_menu_edit',{'id':menu.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Edit menu #{{ menu.name|e }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger confirm" id="menuRemove"
                           href="{{ path('admin_menu_remove',{'id':menu.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Remove menu #{{ menu.id|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% if not menu.children.isEmpty %}
                    <td colspan="5" style="text-align: right;">
                        Child menu: {{ menu.children[0].name }}
                    </td>
            {% endif %}

            {% if menu.parent %}
                <td colspan="5" style="text-align: right;">
                    Parent menu: {{ menu.parent.name }}
                </td>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>





{% endblock %}