{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    Blood center homepage
{% endblock%}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Navigation <small>View main menu</small></h1>
        <a href="{{path('admin_navigation_create')}}" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Create menu</a>
    </div>

    <!-- Table -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Route</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for menu in mainMenu %}
                <tr>
                    <td>{{ label(menu.id,'info') }}</td>
                    <td>{{ menu.title|e }}</td>
                    <td><a href="{{ menu.route|e }}">{{ menu.route|e }}</a></td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <a class="btn btn-primary" href="{{path('admin_navigation_edit',{'id':menu.id})}}" 
                               data-toggle="tooltip" data-placement="top" title="Edit menu #{{menu.title|e}}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}  
        </tbody>
    </table>



{% endblock %}