{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ 'Home'|trans }}
{% endblock %}
{% block content %}
    <div id="content">
        <div class="section">
            {% if  app.request.locale == 'lt' %}
            <h1><span>{{ 'Naujienos'|trans }}</span></h1>
            {{ render(controller('VswSystemCmsBundle:EventBlock:getMainEvents')) }}

            <div class="next">
                <a href="/page/naujienos">{{ 'Visos naujienos'|trans }}</a>
            </div>
                {% else %}
                {{ page.content|raw }}
            {% endif %}
        </div>

    </div>
{% endblock %}
