<form class="form-horizontal" method="POST" {{ form_enctype(form) }} name="subscribe_form" id="subscribe"
      action="{{ path('subscribe_form') }}">
    {{ form_widget(form) }}
    <div class="row-input">

        <button type="submit" style="height: 60px;"><span>{{ 'Siusti'|trans }}</span></button>
    </div>
</form>
