{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block content %}
    <div id="content">
        <div class="section">
            <h1><span>{{ 'Email'|trans }}</span></h1>
            <br/>
            <br/>
            <form class="form-horizontal" method="POST" {{ form_enctype(form) }} name="subscribe_form" id="subscribe"
                  action="{{ path('subscribe_form') }}">
                {{ form_widget(form) }}
                <div class="row-input">
    <textarea class="form-control" required name="message" rows="1" cols="15"
              placeholder="{{ 'Jusu zinute'|trans }}:">
                            </textarea>
                    <button type="submit"><span>{{ 'Siusti'|trans }}</span></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}