{% if not subscribed %}
<form class="form-horizontal" method="POST" {{ form_enctype(form) }} name="newsletter_form" id="newsletter_form"
      action="{{ path('add_subscribe') }}">
    {{ form_widget(form) }}
</form>
{% endif %}
