{% extends "VswSystemCmsBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Login'|trans }}{% endblock %}

{% block content %}
    <section class="login">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8">
                    <h2 class="bordered light">{{ 'Login'|trans }} </h2>
                    {% if error %}
                        <div>{{ error.message }}</div>
                    {% endif %}
                    <form class="form-horizontal" method="POST" {{ form_enctype(loginForm) }} action="{{ loginForm.vars.action }}">
                        {{ form_widget(loginForm) }}
                        <a class="btn btn-rounded btn-xs" style="position: absolute;left:27%;bottom:-25%;background: linear-gradient(#4c69ba, #3b55a0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #4c69ba;" href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"><i class="fa fa-facebook"></i> {{ 'Login with FB'|trans }}</a>
                    </form>
               {#     <br/>
                    <br/>
                    <hr>
                    <h3><a href="{{ path('_user_signup') }}">{{ 'Sign up'|trans }}</a></h3>
                    <b>{{ 'Or use social network'|trans }}:</b>
                    <ul class="">
                        <li><a href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"><i class="fa fa-facebook"></i> {{ 'Login with FB'|trans }}</a></li>
                    {# <li><a href="{{ url("hwi_oauth_service_redirect", {service: "twitter"}) }}"><i class="fa fa-twitter"></i> Login with Twitter</a></li>
                    </ul> #}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
