{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ 'User profile'|trans }}
{% endblock %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}

    {% endif %}
    <!-- Nav tabs -->


    <!-- Tab panes -->

    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8"> <!-- ng-app="profileApp" -->
                    <h2>{{ 'User profile'|trans }}</h2>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#profile" role="tab" data-toggle="tab">{{ 'View'|trans }}</a></li>
                        <li><a href="#edit" role="tab" data-toggle="tab">{{ 'Edit'|trans }}</a></li>
                    </ul>
                    <div class="tab-content" style="border-top:2px solid black;padding-top: 10px;">
                        <div class="tab-pane active" id="profile">
                            {% if profile.avatar %}
                                <div class="doctors-img" style="border: none;">
                                    <div class="portfolio isotope" style="width: 220px;padding: 0;margin: 0;">
                                        <article class="entry treatments isotope-item">
                                            <div class="gallery-thumb" style="width: 220px;padding: 0;margin: 0;">
                                                <span class="overlay" style="width: 220px;padding: 0;margin: 0;"></span>
                                                <a class="link-preety" data-rel="prettyPhoto"
                                                   href="{{ profile.avatar.getWebPath }}"></a>
                                                <img class="img-thumbnail" style="width: 220px;padding: 0;margin: 0;"
                                                     src="{{ profile.avatar.getWebPath|imagine_filter('user_avatar') }}"
                                                     alt="/images/team-desc-img1.jpg"/>
                                            </div>

                                        </article>
                                    </div>
                                </div>
                            {% else %}
                                <div class="doctors-img" style="border: none;">
                                    <img alt="" src="/images/doctor-img1.jpg"
                                         style="width: 220px;padding: 0;margin: 0;">
                                </div>
                            {% endif %}

                            <!--    <ul class="list-unstyled social2">
                                <li><a href="#." class="fb"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#." class="twitter"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#." class="g-plus"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                             -->

                            <div class="doctors-detail">
                                <h4>{{ app.user.username }}<span>{{ app.user.email }}</span></h4>

                                <p><label class="heading">Name</label>
                                    <label class="detail">{{ profile.name }}</label>
                                </p>

                                <p><label class="heading">Surname</label>
                                    <label class="detail">{{ profile.surname }}</label>
                                </p>

                                <p><label class="heading">Phone</label>
                                    <label class="detail">{{ profile.userPhone }}</label>
                                </p>

                                <p><label class="heading">Blood group</label>
                                    <label class="detail"> {{profile.getBloodGroups()[profile.bloodGroup] }}</label>
                                </p>

                                <p><label class="heading">Blood rh</label>

                                    <label class="detail"> {{profile.getBloodRhs()[profile.bloodRh] }}</label>
                                </p>

                                <p><label class="heading">About me</label>
                                    <label class="detail">
                                        {{ profile.about }}
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="edit">


                            <div id="accordion2" class="panel-group accordian-style2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title active">
                                            <a href="#collapse1" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-scroll">
                                                <i class="fa fa-user"></i>{{ 'User info'|trans }}
                                                <i class="fa pull-right fa-angle-up"></i>
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse in" id="collapse1" style="height: auto;">
                                        <div class="panel-body">
                                            <form class="form-horizontal"
                                                  method="POST" {{ form_enctype(profileForm) }}>
                                                {{ form_widget(profileForm) }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-scroll">
                                                <i class="fa fa-file"></i>{{ 'Avatar'|trans }}
                                                <i class="fa pull-right fa-angle-up"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseTwo" style="height: auto;">
                                        <div class="panel-body">
                                            <form class="form-horizontal"
                                                  method="POST" {{ form_enctype(avatarForm) }}>
                                                {{ form_widget(avatarForm) }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ render(controller('VswSystemCoreBundle:LayoutBlock:asideSertificate')) }}
            </div>
        </div>

    </section>

{% endblock %}
