{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    VswSystem - User profile
{% endblock %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}

    {% endif %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8"> <!-- ng-app="profileApp" -->
                    <h2>User profile</h2>
                    {% if profile.avatar %}
                        <div class="doctors-img" style="border: none;">
                            <div class="portfolio isotope" style="width: 220px;padding: 0;margin: 0;">
                                <article class="entry treatments isotope-item">
                                    <div class="gallery-thumb" style="width: 220px;padding: 0;margin: 0;">
                                        <span class="overlay" style="width: 220px;padding: 0;margin: 0;"></span>
                                        <a class="link-preety" data-rel="prettyPhoto"
                                           href="{{ profile.avatar.getWebPath }}"></a>
                                        <img class="img-thumbnail" style="width: 220px;padding: 0;margin: 0;"
                                             src="{{ profile.avatar.getWebPath|imagine_filter('user_avatar') }}"
                                             alt="/images/team-desc-img1.jpg"/>
                                    </div>

                                </article>
                            </div>
                        </div>
                    {% else %}
                        <div class="doctors-img" style="border: none;">
                            <img alt="" src="/images/doctor-img1.jpg"
                                 style="width: 220px;padding: 0;margin: 0;">
                        </div>
                    {% endif %}

                    <!--    <ul class="list-unstyled social2">
                        <li><a href="#." class="fb"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#." class="twitter"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#." class="g-plus"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                     -->

                    <div class="doctors-detail">
                        <h4>{{ username }}</h4>

                        <p><label class="heading">Name</label>
                            <label class="detail">{{ profile.name }}</label>
                        </p>

                        <p><label class="heading">Surname</label>
                            <label class="detail">{{ profile.surname }}</label>
                        </p>

                        <p><label class="heading">Phone</label>
                            <label class="detail">{{ profile.userPhone }}</label>
                        </p>

                        <p><label class="heading">Blood group</label>
                            <label class="detail"> {{ profile.getBloodGroups()[profile.bloodGroup|default(9)]}}</label>
                        </p>

                        <p><label class="heading">Blood rh</label>

                            <label class="detail"> {{ profile.getBloodRhs()[profile.bloodRh|default(9)] }}</label>
                        </p>

                        <p><label class="heading">About me</label>
                            <label class="detail">
                                {{ profile.about }}
                            </label>
                        </p>
                </div>
            </div>
                {{ render(controller('VswSystemCoreBundle:LayoutBlock:asideSertificate')) }}
        </div>
        </div>

    </section>

{% endblock %}
