{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    {{ 'Logs'|trans }}
{% endblock %}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>{{ 'Logs'|trans }}
            <small>
                <hr>
                {{ 'Text page'|trans }}
            </small>
        </h1>
    </div>

    <!-- Table -->
    <div class="count">
        Total donors amount: {{ pagination.getTotalItemCount }}

    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="6">{{ knp_pagination_filter(pagination, {'name': 'Name'}) }}</th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th>Action</th>
            <th>Object</th>
            <th>Object id</th>
            <th>Data</th>
            <th>User</th>
            <th>Logged at</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for log in pagination %}

            <tr>
                <td>{{ label(log.id,'info') }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.objectClass }}</td>
                <td>{{ log.objectId }}</td>
                <td>
                    {{ dump(log.data) }}<br/>
                </td>
                <td>{{ log.username }}</td>
                <td>{{ log.loggedAt|date('m-d-Y: h-s') }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-danger confirm" id="logRemove"
                           href="{{ path('admin_log_remove',{'id':log.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Remove log entry #{{ log.id|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <div class="row row row-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tfoot>
    </table>

{% endblock %}