{# empty Twig template #}
{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ 'Create setting group'|trans }}
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Setting <small><hr>{{ 'Create setting group'|trans }}</small></h1>
        <a href="{{path('admin_settings')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>
    <form class="form-horizontal" method="POST" {{ form_enctype(settingsForm) }}>
        {{ form_widget(settingsForm) }}
    </form>
{% endblock %}
