{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem - {{ 'Settings'|trans }}
{% endblock %}

{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>{{ 'Settings'|trans }}
            <small>
                <hr>
                {{ 'Settings list'|trans }}
            </small>
        </h1>
        <div class="btn-group btn-group-justified">
            <a href="{{ path('admin_settings_create') }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> {{ 'Create setting'|trans }} </a>

            <a href="{{ path('admin_settings_group_create') }}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus"></span> {{ 'Create group'|trans }} </a>


        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Setting name'|trans }}</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for setting in groups %}
            <tr>
                <td>{{ label(setting.id,'info') }}</td>
                <td>{{ setting.name|e }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_settings_group_edit',{'id':setting.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Edit setting #{{ setting.name|e }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger confirm" id="settingRemove"
                           href="{{ path('admin_settings_group_remove',{'id':setting.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Remove setting #{{ setting.id|e }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}