{% block navbar %}
    <!-- BEGIN SIDEBAR LEFT -->
    <div class="sidebar-left sidebar-nicescroller">
        <ul class="sidebar-menu">
            {% for menu, value in item.children %}
                {% set active = false %}
                {% if(value.uri == app.request.requestUri) %}

                    {% set active = true %}
                {% endif %}
                <li class="{{ (active == true )? ' current-menu-item':'' }}">
                    <a href="{{ value.uri }}" title="{{ menu|trans }}">
                        <i class="fa fa-desktop icon-sidebar"></i>
                        {% if(value.hasChildren) %}<i class="fa fa-angle-right chevron-icon-sidebar"></i>{% endif %}
                        <span>{{ menu|trans }}</span></a>
                    {% if(value.hasChildren) %}
                        <ul class="submenu">
                            {% for subMenu in value.children %}
                               <li class="">
                                   <a href="{{ subMenu.uri }}">{{ subMenu.name }}</a>
                               </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- END SIDEBAR LEFT -->
{% endblock %}

