<footer id="footer">
    <style>
        #map-canvas {
            width: 300px;
            height: 182px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col">
                <div class="nav-area">
                    <a href="#"><img src="/images/logo07.png" alt="image description" class="logo"></a>
                    {{ knp_menu_render('footMenu',{template:'VswSystemCmsBundle:Menu:footMenu.html.twig'}) }}
                </div>
            </div>
            <div class="col-sm-4 col">
                <div class="feedback">
                    <div class="title">{{ 'KLAUSKITE MŪSŲ'|trans }}</div>
                    {{ render(controller('VswSystemCmsBundle:Email:form')) }}
                    <!-- <form action="{{ path('add_subscribe') }}" class="form-" method="post" id="subscribe">
                        <div class="row-input">
                            <input name="name" class="form-control" required type="text" placeholder="{{ 'Vardas'|trans }}:">
                        </div>
                        <div class="row-input">
                            <input name="email" class="form-control" required type="email" placeholder="{{ 'El. pastas'|trans }}:">
                        </div>

                        <div class="row-input">
                            <textarea class="form-control" required name="message" rows="1" cols="15" placeholder="{{ 'Jusu zinute'|trans }}:">
                            </textarea>
                            <button type="submit"><span>{{ 'Siusti'|trans }}</span></button>
                        </div>
                        <div class="row-input">
                            <div class="g-recaptcha" data-sitekey="6Le73QATAAAAAEyhkkTlgs_H8_2iwaxv1VaPJ7VQ"></div>
                        </div>
                    </form> -->
                    <div class="" id="subscribeText" style="display: none;">
                       <h4>Ačiū! Mes gavome Jūsų laišką ir
                           pasistengsime greitai į jį atsakyti.</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col">
                <div class="contact">
                    <div class="title">{{ 'KONTAKTAI'|trans }}</div>
                    <!--   <div id="map-canvas"></div>-->
                    <address>
                        <span>{{ getOption('footer_address')|default('') }}</span>
                        <span>Tel.: {{ getOption('footer_tel')|default('') }}</span>
                        <span>Fax.: {{ getOption('footer_fax')|default('') }}</span>
                        <span>{{ 'El. p.'|trans }}: <a
                                    href="mailto:{{ getOption('footer_email')|default('') }}">
                                {{ getOption('footer_email')|default('') }}</a></span>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>