<div class="col-md-10 col-md-offset-3 hidden-md hidden-sm hidden-xs" style="padding:20px;
padding-left: 65px;">
    <div class="auditai">
    <a href="/page/auditai" id="auditai_link" style="position:relative; top:0px; display: inline-block; padding-right: 10px;">{{ getOption('auditai')|default('') }}</a>
    {{ render(controller('VswSystemCoreBundle:LayoutBlock:audit')) }}
    </div>
</div>