{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ 'You have successfully signed'|trans }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8">
                    <h3>{{ 'You have successfully signed up for unpaid blood donation. Will contact you asap.'|trans }}</h3>
                </div>
                {{ render(controller('VswSystemCoreBundle:LayoutBlock:asideSertificate')) }}
            </div>
        </div>
    </section>
{% endblock %}