<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        VswAdmin -
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% stylesheets
    'bundles/vswsystemwidget/assets/css/bootstrap.min.css'
    'bundles/vswsystemwidget/assets/plugins/weather-icon/css/weather-icons.min.css'
    'bundles/vswsystemwidget/assets/plugins/prettify/prettify.min.css'
    'bundles/vswsystemwidget/assets/plugins/magnific-popup/magnific-popup.min.css'
    'bundles/vswsystemwidget/assets/plugins/owl-carousel/owl.theme.min.css'
    'bundles/vswsystemwidget/assets/plugins/owl-carousel/owl.transitions.min.css'
    'bundles/vswsystemwidget/assets/plugins/owl-carousel/owl.carousel.min.css'
    'bundles/vswsystemwidget/assets/plugins/chosen/chosen.min.css'
    'bundles/vswsystemwidget/assets/plugins/icheck/skins/all.css'
    'bundles/vswsystemwidget/assets/plugins/datepicker/datepicker.min.css'
    'bundles/vswsystemwidget/assets/plugins/timepicker/bootstrap-timepicker.min.css'
    'bundles/vswsystemwidget/assets/plugins/validator/bootstrapValidator.min.css'
    'bundles/vswsystemwidget/assets/plugins/summernote/summernote.min.css'
    'bundles/vswsystemwidget/assets/plugins/markdown/bootstrap-markdown.min.css'
    'bundles/vswsystemwidget/assets/plugins/datatable/css/bootstrap.datatable.min.css'
    'bundles/vswsystemwidget/assets/plugins/morris-chart/morris.min.css'
    'bundles/vswsystemwidget/assets/plugins/c3-chart/c3.min.css'
    'bundles/vswsystemwidget/assets/plugins/slider/slider.min.css'

    'bundles/vswsystemwidget/assets/plugins/font-awesome/css/font-awesome.min.css'
    'bundles/vswsystemwidget/assets/css/style.css'
    'bundles/vswsystemwidget/assets/css/style-responsive.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>

    {% endstylesheets %}

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="tooltips">

<div class="wrapper">

    {% embed 'VswSystemWidgetBundle:Navbar:topNavbar.html.twig' %}
    {% endembed %}


    <!-- Main navigation -->
    {{ knp_menu_render('mainMenuWidget', {'template':'VswSystemWidgetBundle:Menu:mainMenu.html.twig'}) }}



    {% embed 'VswSystemWidgetBundle:Navbar:rightNavbar.html.twig' %}
    {% endembed %}



    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container-fluid">
            {#


            <h1 class="page-heading">DASHBOARD [UPDATED]
                <small>Sub heading here</small>
            </h1>


            <div class="alert alert-success alert-block square fade in alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <p><strong>Welcome!</strong></p>

                <p>You probably here cause wanna know how is <a href="#fakelink" class="alert-link">Sentir UI kits
                        template</a>, or you have purchased it. But whatever! I just wanna
                    say thank you for viewing or purchasing my work.
                    This is the new dashboard page, hope it more usable for your awesome projects.
                    And let me know your feedback! <i class="fa fa-smile-o"></i></p>
            </div>

            <div class="row">
                <div class="col-lg-3">

                    <!-- BEGIN TODAY VISITOR TILES -->
                    <div class="panel panel-danger panel-square panel-no-border text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">TODAY VISITOR</h3>
                        </div>
                        <div class="panel-body">
                            <h1 class="bolded tiles-number text-danger">25,057</h1>

                            <p class="text-muted">
                                <small>UNIQUE VISITOR <strong>957</strong></small>
                            </p>
                            <p class="text-muted">
                                <small>TOTAL REACH <strong>25%</strong></small>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel panel-success panel-block-color -->
                    <!-- END TODAY VISITOR TILES -->

                </div>
                <!-- /.col-sm-6 -->
                <div class="col-lg-3">

                    <!-- BEGIN TODAY VISITOR TILES -->
                    <div class="panel panel-warning panel-square panel-no-border text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">TODAY SALES</h3>
                        </div>
                        <div class="panel-body">
                            <h1 class="bolded tiles-number text-warning">245</h1>

                            <p class="text-muted">
                                <small>LAST SALE <strong>2 HOURS AGO</strong></small>
                            </p>
                            <p class="text-muted">
                                <small>SALE AVERAGE <strong>221</strong></small>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel panel-success panel-block-color -->
                    <!-- END TODAY VISITOR TILES -->

                </div>
                <!-- /.col-sm-6 -->
                <div class="col-lg-6">

                    <!-- BEGIN WEATHER WIDGET 2 -->
                    <div class="panel panel-info panel-square panel-no-border">
                        <div class="panel-heading">
                            <h3 class="panel-title white-text">YOGYAKARTA CITY, ID</h3>
                        </div>
                        <div class="panel-body bg-info">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="weather-widget horizontal">
                                        <div class="row">
                                            <div class="col-xs-6 text-center">
                                                <canvas height="115" width="115" id="partly-cloudy-day"></canvas>
                                            </div>
                                            <!-- /.col-xs-6 -->
                                            <div class="col-xs-6">
                                                <h2 class="bolded degrees white-text">32<i class="wi-degrees"></i></h2>

                                                <p class="white-text">Partly cloudy</p>

                                                <p class="white-text">15km/h - 37%</p>
                                            </div>
                                            <!-- /.col-xs-6 -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.weather-widget -->
                                </div>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <h4 class="white-text">SAT</h4>
                                            <canvas height="35" width="35" id="cloudy"></canvas>
                                            <h4 class="bolded white-text">30<i class="wi-degrees"></i></h4>
                                        </div>
                                        <!-- /.col-xs-4 -->
                                        <div class="col-xs-4 text-center">
                                            <h4 class="white-text">SUN</h4>
                                            <canvas height="35" width="35" id="wind"></canvas>
                                            <h4 class="bolded white-text">28<i class="wi-degrees"></i></h4>
                                        </div>
                                        <!-- /.col-xs-4 -->
                                        <div class="col-xs-4 text-center">
                                            <h4 class="white-text">MON</h4>
                                            <canvas height="35" width="35" id="clear-day"></canvas>
                                            <h4 class="bolded white-text">33<i class="wi-degrees"></i></h4>
                                        </div>
                                        <!-- /.col-xs-4 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel panel-success panel-block-color -->
                    <!-- END WEATHER WIDGET 2 -->

                </div>
                <!-- /.col-sm-6 -->
            </div>
            #}
            {% block flashes %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    {% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}
                    {% from 'MopaBootstrapBundle::flash.html.twig' import session,session_flash %}
                    <div class="row">
                        <div class="col-lg-12  text-center">
                            {{ session_flash() }}
                        </div>
                    </div>
                {% endif %}
            {% endblock flashes %}
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>

</body>

<!--[if IE]>
<script type="text/javascript" src="/assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->

{% javascripts
'bundles/vswsystemwidget/assets/js/jquery.min.js'
'bundles/vswsystemwidget/assets/js/bootstrap.min.js'
'bundles/vswsystemwidget/assets/plugins/retina/retina.min.js'
'bundles/vswsystemwidget/assets/plugins/nicescroll/jquery.nicescroll.js'
'bundles/vswsystemwidget/assets/plugins/slimscroll/jquery.slimscroll.min.js'
'bundles/vswsystemwidget/assets/plugins/backstretch/jquery.backstretch.min.js'

'bundles/vswsystemwidget/assets/plugins/magnific-popup/jquery.magnific-popup.min.js'
'bundles/vswsystemwidget/assets/plugins/owl-carousel/owl.carousel.min.js'
'bundles/vswsystemwidget/assets/plugins/chosen/chosen.jquery.min.js'
'bundles/vswsystemwidget/assets/plugins/icheck/icheck.min.js'
'bundles/vswsystemwidget/assets/plugins/datepicker/bootstrap-datepicker.js'
'bundles/vswsystemwidget/assets/plugins/timepicker/bootstrap-timepicker.js'
'bundles/vswsystemwidget/assets/plugins/mask/jquery.mask.min.js'
'bundles/vswsystemwidget/assets/plugins/validator/bootstrapValidator.min.js'
'bundles/vswsystemwidget/assets/plugins/datatable/js/jquery.dataTables.min.js'
'bundles/vswsystemwidget/assets/plugins/datatable/js/bootstrap.datatable.js'
'bundles/vswsystemwidget/assets/plugins/summernote/summernote.min.js'
'bundles/vswsystemwidget/assets/plugins/markdown/markdown.js'
'bundles/vswsystemwidget/assets/plugins/markdown/to-markdown.js'
'bundles/vswsystemwidget/assets/plugins/markdown/bootstrap-markdown.js'
'bundles/vswsystemwidget/assets/plugins/slider/bootstrap-slider.js'

'bundles/vswsystemwidget/assets/plugins/easypie-chart/easypiechart.min.js'
'bundles/vswsystemwidget/assets/plugins/easypie-chart/jquery.easypiechart.min.js'


'bundles/vswsystemwidget/assets/plugins/jquery-knob/jquery.knob.js'
'bundles/vswsystemwidget/assets/plugins/jquery-knob/knob.js'

'bundles/vswsystemwidget/assets/plugins/flot-chart/jquery.flot.js'
'bundles/vswsystemwidget/assets/plugins/flot-chart/jquery.flot.tooltip.js'
'bundles/vswsystemwidget/assets/plugins/flot-chart/jquery.flot.resize.js'
'bundles/vswsystemwidget/assets/plugins/flot-chart/jquery.flot.selection.js'
'bundles/vswsystemwidget/assets/plugins/flot-chart/jquery.flot.stack.js'
'bundles/vswsystemwidget/assets/plugins/flot-chart/jquery.flot.time.js'

'bundles/vswsystemwidget/assets/plugins/morris-chart/raphael.min.js'
'bundles/vswsystemwidget/assets/plugins/morris-chart/morris.min.js'

'bundles/vswsystemwidget/assets/plugins/c3-chart/d3.v3.min.js'
'bundles/vswsystemwidget/assets/plugins/c3-chart/c3.min.js'

'bundles/vswsystemadmin/js/jquery.confirm.min.js'

'bundles/vswsystemwidget/assets/js/apps.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@MopaBootstrapBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(".confirm").confirm({
        text: "Are you sure you want to delete that item?",
        title: "Confirmation required",
        confirmButton: "Yes I am",
        cancelButton: "No",
        post: true,
        confirmButtonClass: "btn-danger"
    });

</script>

</body>
</html>