{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem create page
{% endblock %}
{% block content %}
    <script>
    </script>
    <div class="page-header">
        <h1>Page
            <small>
                <hr>
                Create gallery content page
            </small>
        </h1>
        <a href="{{ path('admin_gallery_page') }}" class="btn btn-info btn-lg"><span
                    class="glyphicon glyphicon-chevron-left"></span> Go back</a>

    </div>

    <form class="form-horizontal" method="POST" {{ form_enctype(pageForm) }}>
        {{ form_widget(pageForm) }}
    </form>
{% endblock %}