{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem edit page
{% endblock%}
{% block content %}
    <div class="page-header">
        <h1>Page <small><hr>Edit gallery content page</small></h1>
        <a href="{{path('admin_gallery_page')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>

    </div>

    <form class="form-horizontal" method="POST" {{ form_enctype(pageForm) }}>
        {{ form_widget(pageForm) }}
    </form>
{% endblock %}