{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}
{% block content %}

    <div class="page-header">
        <h1>User <small><hr>Edit user #{{user.id}}:{{user.email}}</small></h1>
        <a href="{{path('admin_user')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Go back</a>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Username: {{user.username|e}}</div>
        <div class="panel-body">

            <form class="form-horizontal" method="POST" {{ form_enctype(userForm) }}>
                {{ form_widget(userForm) }}
            </form>

        </div>


    </div>



</div>
{% endblock %}