{% extends "VswSystemAdminBundle::layout.html.twig" %}
{% block title %}
    VswSystem homepage
{% endblock%}
{% block content %}
    {% from 'MopaBootstrapBundle::macros.html.twig' import label %}
    <div class="page-header">
        <h1>Users <small>View all registerd users</small></h1>
        <a href="{{path('admin_user_create')}}" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Create user</a>
    </div>

    <!-- Table -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Role</th>
                <th>Created</th>
                <th>Active?</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>&nbsp</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ label(user.id,'info') }}</td>
                    <td>{{ user.email|e }}</td>
                    <td>{{ user.username|e }}</td>
                    <td>{{ user.roleName|e }}</td>
                    <td>{{ user.created|date("d/m-M/Y") }}</td>
                    <td>{{ user.active|e }}</td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <a class="btn btn-primary" href="{{path('admin_user_edit',{'id':user.id})}}" 
                               data-toggle="tooltip" data-placement="top" title="Edit user #{{user.id|e}}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            {% if app.security.getToken().getUser().getId() != user.id  %}  
                                <a  class="btn btn-danger confirm" id="userRemove" href="{{path('admin_user_remove',{'id':user.id})}}"
                                    data-toggle="tooltip" data-placement="top" title="Remove user #{{user.id|e}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}  

        </tbody>
    </table>



{% endblock %}