{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ 'Image'|trans }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-8" style="text-align: center;">
                    <img src="/{{ image.getWebPath }}" alt=""/>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
