{% extends "VswSystemCmsBundle::layout.html.twig" %}
{% block title %}
    {{ gallery.title }}
{% endblock %}
{% block content %}
    <section class="page" style="padding-top: 30px;">
        <div class="container ">
            <div class="row ">
                <div class="col-md-10">

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_gallery_group_edit',{'id':gallery.id}) }}"
                           class="btn btn-default btn-mini btn-rounded">{{ 'Edit'|trans }}</a>
                    {% endif %}
                    <!-- <h3><a href="/page/{{ page.alias.alias }}">{{ 'Back to'|trans }}: {{ page.title }}</a></h3> -->
                    <div class="image-gallery js-masonry"  data-masonry-options='{ "itemSelector": ".item", "columnWidth": 100 }'>
                        {% for image in gallery.images|reverse %}
                            {% if  image.visible %}
                            <div class="item"><a rel="gallery1" class="fancybox"
                               href="{{ image.getWebPath |imagine_filter('news_page_top_image') }}">
                                <img class="img-thumbnail"
                                     src="{{ image.getWebPath |imagine_filter('content_block_image') }}"
                                     alt="{{ image.name }}"/>
                            </a>
                                   <p>{{ image.caption|e }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
