{% if(lastestTweets) %}
    {% for tweet in lastestTweets %}
        <div class="tweet">
            <i class="fa fa-twitter"></i>
            <p><a href="//twitter.com/CawaKharkov">@CawaKharkov</a> {{ tweet.text|e }}
                <span>{{ tweet.created_at|date('d - M - Y : H-m') }}</span>
            </p>
        </div>
    {% endfor %}
{% endif %}