<div class="share-post clearfix">
    <label>{{ 'Share this Post!'|trans }}</label>
    <ul class="social-rounded">
        <li><a id="facebook" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-facebook"></i></a></li>
        <li><a id="twitter" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-twitter"></i></a></li>
        <li><a id="google" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-google-plus"></i></a></li>
        <li><a id="linked" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>

<script>
    $(document).ready(function () {

        $('#twitter').sharrre({
            share: {
                twitter: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-twitter\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            buttons: { twitter: {via: '_BloodCenter'}},
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('twitter');
            }
        });
        $('#facebook').sharrre({
            share: {
                facebook: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-facebook\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('facebook');
            }
        });

        $('#google').sharrre({
            share: {
                googlePlus: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-google-plus\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('googlePlus');
            }
        });

        $('#linked').sharrre({
            share: {
                linkedin: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-linkedin\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('linkedin');
            }
        });

    });

</script>