<ul class="social-rounded">
        <li><a id="" class="faceShare" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-facebook"></i></a></li>
        <li><a id="" class="twitterShare" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-twitter"></i></a></li>
        <li><a id="" class="googleShare" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-google-plus"></i></a></li>
        <li><a id="" class="linkedShare" data-url="{{ url }}" data-text="{{ text }}"><i class="fa fa-linkedin"></i></a></li>
</ul>

<script>
    $(document).ready(function () {

        $('.twitterShare').sharrre({
            share: {
                twitter: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-twitter\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            buttons: { twitter: {via: '_BloodCenter'}},
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('twitter');
            }
        });
        $('.faceShare').sharrre({
            share: {
                facebook: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-facebook\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('facebook');
            }
        });

        $('.googleShare').sharrre({
            share: {
                googlePlus: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-google-plus\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('googlePlus');
            }
        });

        $('.linkedShare').sharrre({
            share: {
                linkedin: true
            },
            template:"<li><a href=\"#.\" data-url=\"{{ url }}\" data-text=\"{{ text }}\"><i class=\"fa fa-linkedin\"></i></a></li>",
            enableHover: false,
            enableTracking: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('linkedin');
            }
        });

    });

</script>